<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Face10l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1613},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face10r.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1434},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face11l.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1423},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face11r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face14l.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1255},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face14r.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1244},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face15l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face15r.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1076},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face16l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{177,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,318}}</string>
                <key>sourceSize</key>
                <string>{177,318}</string>
            </dict>
            <key>Face16r.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{177,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,319}}</string>
                <key>sourceSize</key>
                <string>{177,319}</string>
            </dict>
            <key>Face1l.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1065},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face1r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face2l.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,897},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face2r.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,886},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face3l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face3r.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,718},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face4l.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,707},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face4r.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face5l.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,539},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face5r.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,528},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face6l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face6r.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,360},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face7l.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,349},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face7r.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,181},{177,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,293}}</string>
                <key>sourceSize</key>
                <string>{177,293}</string>
            </dict>
            <key>Face9l.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{179,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,293}}</string>
                <key>sourceSize</key>
                <string>{179,293}</string>
            </dict>
            <key>Face9r.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,168},{179,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,293}}</string>
                <key>sourceSize</key>
                <string>{179,293}</string>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,164}}</string>
                <key>sourceSize</key>
                <string>{640,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea00c105fc9befa3277bf4618dba538$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
