<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc14a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,99},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>dmc14a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>dmc14a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,195},{93,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,104}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>dmc14a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,207},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>dmc14a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,185},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>dmc14a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,111},{94,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,105}}</string>
                <key>sourceSize</key>
                <string>{94,105}</string>
            </dict>
            <key>dmc14a0f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,99},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>dmc14a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{85,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,111}}</string>
                <key>sourceSize</key>
                <string>{85,111}</string>
            </dict>
            <key>dmc14a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,290},{84,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,103}}</string>
                <key>sourceSize</key>
                <string>{84,103}</string>
            </dict>
            <key>dmc14a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,561},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>dmc14a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,561},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>dmc14a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,469},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>dmc14a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,469},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>dmc14a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,377},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>dmc14a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>dmc14a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,281},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>dmc14a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,126}}</string>
                <key>sourceSize</key>
                <string>{114,126}</string>
            </dict>
            <key>dmc14a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,303},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>dmc14a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>dmc14a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,398},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>dmc14a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{99,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,92}}</string>
                <key>sourceSize</key>
                <string>{99,92}</string>
            </dict>
            <key>dmc14a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,492},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>dmc14a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,376},{99,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,91}}</string>
                <key>sourceSize</key>
                <string>{99,91}</string>
            </dict>
            <key>dmc14a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>dmc14a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,585},{74,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,99}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>dmc14a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,709},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,96}</string>
            </dict>
            <key>dmc14a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{73,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,98}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>dmc14a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,681},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>dmc14a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,89},{94,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,106}}</string>
                <key>sourceSize</key>
                <string>{94,106}</string>
            </dict>
            <key>dmc14a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{95,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,115}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>dmc14a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,759},{77,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,87}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>dmc14a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,865},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>dmc14a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{65,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,102}}</string>
                <key>sourceSize</key>
                <string>{65,102}</string>
            </dict>
            <key>dmc14a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>dmc14a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,783},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>dmc14a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,673},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>dmc14a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{69,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,120}}</string>
                <key>sourceSize</key>
                <string>{69,120}</string>
            </dict>
            <key>dmcsh14a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,750},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>dmcsh14a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{92,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,31}}</string>
                <key>sourceSize</key>
                <string>{92,31}</string>
            </dict>
            <key>dmcsh14a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,757},{91,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,31}}</string>
                <key>sourceSize</key>
                <string>{91,31}</string>
            </dict>
            <key>dmcsh14a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,577},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>dmcsh14a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,563},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>dmcsh14a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,481},{94,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,31}}</string>
                <key>sourceSize</key>
                <string>{94,31}</string>
            </dict>
            <key>dmcsh14a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,717},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,31}</string>
            </dict>
            <key>dmcsh14a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,347},{85,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{85,32}</string>
            </dict>
            <key>dmcsh14a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,500},{83,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,30}}</string>
                <key>sourceSize</key>
                <string>{83,30}</string>
            </dict>
            <key>dmcsh14a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,689},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,686},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,681},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,653},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,653},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,404},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,30}}</string>
                <key>sourceSize</key>
                <string>{94,30}</string>
            </dict>
            <key>dmcsh14a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,73},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>dmcsh14a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>dmcsh14a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,303},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>dmcsh14a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,347},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>dmcsh14a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>dmcsh14a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,661},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,585},{99,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,26}}</string>
                <key>sourceSize</key>
                <string>{99,26}</string>
            </dict>
            <key>dmcsh14a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,481},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{80,32}</string>
            </dict>
            <key>dmcsh14a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,944},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>dmcsh14a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,787},{79,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,31}}</string>
                <key>sourceSize</key>
                <string>{79,31}</string>
            </dict>
            <key>dmcsh14a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,944},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>dmcsh14a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,939},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>dmcsh14a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,252},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,32}}</string>
                <key>sourceSize</key>
                <string>{93,32}</string>
            </dict>
            <key>dmcsh14a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,103},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,33}}</string>
                <key>sourceSize</key>
                <string>{80,33}</string>
            </dict>
            <key>dmcsh14a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,944},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>dmcsh14a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,25}}</string>
                <key>sourceSize</key>
                <string>{76,25}</string>
            </dict>
            <key>dmcsh14a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,448},{63,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,31}}</string>
                <key>sourceSize</key>
                <string>{63,31}</string>
            </dict>
            <key>dmcsh14a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,23}}</string>
                <key>sourceSize</key>
                <string>{84,23}</string>
            </dict>
            <key>dmcsh14a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{85,23}</string>
            </dict>
            <key>dmcsh14a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,207},{84,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,21}}</string>
                <key>sourceSize</key>
                <string>{84,21}</string>
            </dict>
            <key>dmcsh14a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,185},{65,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,35}}</string>
                <key>sourceSize</key>
                <string>{65,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc14.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811df5227c4b383ecc65172030677204$</string>
            <key>textureFileName</key>
            <string>dmc14.png</string>
        </dict>
    </dict>
</plist>
