<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc3a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,116},{57,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,155}}</string>
                <key>sourceSize</key>
                <string>{57,155}</string>
            </dict>
            <key>dmc3a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,61},{57,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,155}}</string>
                <key>sourceSize</key>
                <string>{57,155}</string>
            </dict>
            <key>dmc3a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{57,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,154}}</string>
                <key>sourceSize</key>
                <string>{57,154}</string>
            </dict>
            <key>dmc3a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{57,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,153}}</string>
                <key>sourceSize</key>
                <string>{57,153}</string>
            </dict>
            <key>dmc3a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,179},{57,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,153}}</string>
                <key>sourceSize</key>
                <string>{57,153}</string>
            </dict>
            <key>dmc3a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,120},{57,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,154}}</string>
                <key>sourceSize</key>
                <string>{57,154}</string>
            </dict>
            <key>dmc3a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{57,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,154}}</string>
                <key>sourceSize</key>
                <string>{57,154}</string>
            </dict>
            <key>dmc3a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{57,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,154}}</string>
                <key>sourceSize</key>
                <string>{57,154}</string>
            </dict>
            <key>dmc3a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,175},{56,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,154}}</string>
                <key>sourceSize</key>
                <string>{56,154}</string>
            </dict>
            <key>dmc3a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{124,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>dmc3a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,314},{146,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,140}}</string>
                <key>sourceSize</key>
                <string>{146,140}</string>
            </dict>
            <key>dmc3a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{155,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,112}}</string>
                <key>sourceSize</key>
                <string>{155,112}</string>
            </dict>
            <key>dmc3a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{173,58}</string>
            </dict>
            <key>dmc3a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,68}</string>
            </dict>
            <key>dmc3a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,434},{131,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,103}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>dmc3a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,482},{124,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>dmc3a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{124,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>dmc3a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,539},{124,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,103}}</string>
                <key>sourceSize</key>
                <string>{124,103}</string>
            </dict>
            <key>dmc3a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{57,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,159}}</string>
                <key>sourceSize</key>
                <string>{57,159}</string>
            </dict>
            <key>dmc3a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,261},{72,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,150}}</string>
                <key>sourceSize</key>
                <string>{72,150}</string>
            </dict>
            <key>dmc3a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,335},{97,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,133}}</string>
                <key>sourceSize</key>
                <string>{97,133}</string>
            </dict>
            <key>dmc3a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,644},{95,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,118}}</string>
                <key>sourceSize</key>
                <string>{95,118}</string>
            </dict>
            <key>dmc3a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,670},{93,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{93,98}</string>
            </dict>
            <key>dmc3a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,691},{97,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,93}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>dmc3a4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>dmc3a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{73,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,150}}</string>
                <key>sourceSize</key>
                <string>{73,150}</string>
            </dict>
            <key>dmc3a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,238},{74,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,150}}</string>
                <key>sourceSize</key>
                <string>{74,150}</string>
            </dict>
            <key>dmc3a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{61,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,150}}</string>
                <key>sourceSize</key>
                <string>{61,150}</string>
            </dict>
            <key>dmc3a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{57,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,159}}</string>
                <key>sourceSize</key>
                <string>{57,159}</string>
            </dict>
            <key>dmc3a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{57,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,154}}</string>
                <key>sourceSize</key>
                <string>{57,154}</string>
            </dict>
            <key>dmcsh3a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,724},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,724},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,691},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,667},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,635},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,610},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,553},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>dmcsh3a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,328},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>dmcsh3a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,387},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>dmcsh3a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,665},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>dmcsh3a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{140,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,32}}</string>
                <key>sourceSize</key>
                <string>{140,32}</string>
            </dict>
            <key>dmcsh3a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,233},{153,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,26}}</string>
                <key>sourceSize</key>
                <string>{153,26}</string>
            </dict>
            <key>dmcsh3a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{154,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,13}}</string>
                <key>sourceSize</key>
                <string>{154,13}</string>
            </dict>
            <key>dmcsh3a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,158},{136,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,16}}</string>
                <key>sourceSize</key>
                <string>{136,16}</string>
            </dict>
            <key>dmcsh3a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,456},{131,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,24}}</string>
                <key>sourceSize</key>
                <string>{131,24}</string>
            </dict>
            <key>dmcsh3a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,639},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>dmcsh3a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,613},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>dmcsh3a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,587},{124,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,24}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>dmcsh3a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,445},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>dmcsh3a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,601},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>dmcsh3a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,748},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>dmcsh3a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,456},{95,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,26}}</string>
                <key>sourceSize</key>
                <string>{95,26}</string>
            </dict>
            <key>dmcsh3a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,233},{93,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,21}}</string>
                <key>sourceSize</key>
                <string>{93,21}</string>
            </dict>
            <key>dmcsh3a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,434},{97,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,20}}</string>
                <key>sourceSize</key>
                <string>{97,20}</string>
            </dict>
            <key>dmcsh3a4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,335},{97,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,20}}</string>
                <key>sourceSize</key>
                <string>{97,20}</string>
            </dict>
            <key>dmcsh3a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,533},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>dmcsh3a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,567},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>dmcsh3a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,601},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>dmcsh3a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,445},{56,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>dmcsh3a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,553},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26928973281273e24f72322ca0188f54$</string>
            <key>textureFileName</key>
            <string>dmc3.png</string>
        </dict>
    </dict>
</plist>
