<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc6a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,153},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>dmc6a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,302},{105,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,91}}</string>
                <key>sourceSize</key>
                <string>{105,91}</string>
            </dict>
            <key>dmc6a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>dmc6a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,545},{79,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{79,89}</string>
            </dict>
            <key>dmc6a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,626},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{78,89}</string>
            </dict>
            <key>dmc6a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,575},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>dmc6a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,362},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>dmc6a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,123},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>dmc6a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,156},{108,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>dmc6a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,332},{56,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,105}}</string>
                <key>sourceSize</key>
                <string>{56,105}</string>
            </dict>
            <key>dmc6a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{57,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,105}}</string>
                <key>sourceSize</key>
                <string>{57,105}</string>
            </dict>
            <key>dmc6a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{57,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,104}}</string>
                <key>sourceSize</key>
                <string>{57,104}</string>
            </dict>
            <key>dmc6a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>dmc6a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,254},{105,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,76}}</string>
                <key>sourceSize</key>
                <string>{105,76}</string>
            </dict>
            <key>dmc6a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{98,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>dmc6a2f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,390},{86,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{86,104}</string>
            </dict>
            <key>dmc6a2f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,73},{81,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,112}}</string>
                <key>sourceSize</key>
                <string>{81,112}</string>
            </dict>
            <key>dmc6a2f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,56},{65,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,115}}</string>
                <key>sourceSize</key>
                <string>{65,115}</string>
            </dict>
            <key>dmc6a2f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{56,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,119}}</string>
                <key>sourceSize</key>
                <string>{56,119}</string>
            </dict>
            <key>dmc6a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,478},{95,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{95,101}</string>
            </dict>
            <key>dmc6a2f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{52,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,119}}</string>
                <key>sourceSize</key>
                <string>{52,119}</string>
            </dict>
            <key>dmc6a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,450},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>dmc6a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,60},{91,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,113}}</string>
                <key>sourceSize</key>
                <string>{91,113}</string>
            </dict>
            <key>dmc6a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{54,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,107}}</string>
                <key>sourceSize</key>
                <string>{54,107}</string>
            </dict>
            <key>dmc6a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{54,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,107}}</string>
                <key>sourceSize</key>
                <string>{54,107}</string>
            </dict>
            <key>dmc6a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,246},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>dmc6a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,304},{56,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,105}}</string>
                <key>sourceSize</key>
                <string>{56,105}</string>
            </dict>
            <key>dmc6a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,395},{56,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,104}}</string>
                <key>sourceSize</key>
                <string>{56,104}</string>
            </dict>
            <key>dmc6a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>dmc6a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,453},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>dmc6a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,81}}</string>
                <key>sourceSize</key>
                <string>{125,81}</string>
            </dict>
            <key>dmc6a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,216},{109,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,84}}</string>
                <key>sourceSize</key>
                <string>{109,84}</string>
            </dict>
            <key>dmc6a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,548},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>dmc6a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{104,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>dmc6a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{111,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,91}}</string>
                <key>sourceSize</key>
                <string>{111,91}</string>
            </dict>
            <key>dmcsh6a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,688},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>dmcsh6a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,714},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>dmcsh6a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,453},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>dmcsh6a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,357},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>dmcsh6a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,328},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>dmcsh6a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,482},{55,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,24}}</string>
                <key>sourceSize</key>
                <string>{55,24}</string>
            </dict>
            <key>dmcsh6a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,192},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,25}}</string>
                <key>sourceSize</key>
                <string>{60,25}</string>
            </dict>
            <key>dmcsh6a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,640},{74,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,27}}</string>
                <key>sourceSize</key>
                <string>{74,27}</string>
            </dict>
            <key>dmcsh6a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,331},{71,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,28}}</string>
                <key>sourceSize</key>
                <string>{71,28}</string>
            </dict>
            <key>dmcsh6a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,386},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>dmcsh6a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,554},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>dmcsh6a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,543},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>dmcsh6a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,246},{83,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,20}}</string>
                <key>sourceSize</key>
                <string>{83,20}</string>
            </dict>
            <key>dmcsh6a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,664},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>dmcsh6a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,685},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,27}}</string>
                <key>sourceSize</key>
                <string>{65,27}</string>
            </dict>
            <key>dmcsh6a2f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,664},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>dmcsh6a2f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,508},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>dmcsh6a2f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,254},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>dmcsh6a2f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,290},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>dmcsh6a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,608},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>dmcsh6a2f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,482},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>dmcsh6a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,576},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>dmcsh6a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,620},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,34}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>dmcsh6a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,587},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>dmcsh6a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,520},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>dmcsh6a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,420},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>dmcsh6a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,443},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>dmcsh6a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,404},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>dmcsh6a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,638},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>dmcsh6a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,695},{74,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,23}}</string>
                <key>sourceSize</key>
                <string>{74,23}</string>
            </dict>
            <key>dmcsh6a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
            <key>dmcsh6a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,661},{81,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,22}}</string>
                <key>sourceSize</key>
                <string>{81,22}</string>
            </dict>
            <key>dmcsh6a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,123},{67,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,25}}</string>
                <key>sourceSize</key>
                <string>{67,25}</string>
            </dict>
            <key>dmcsh6a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,669},{74,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,24}}</string>
                <key>sourceSize</key>
                <string>{74,24}</string>
            </dict>
            <key>dmcsh6a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,638},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed60a6a883ea088dde3a67a52fe3740e$</string>
            <key>textureFileName</key>
            <string>dmc6.png</string>
        </dict>
    </dict>
</plist>
