<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc7a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{319,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,133}}</string>
                <key>sourceSize</key>
                <string>{319,133}</string>
            </dict>
            <key>dmc7a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,226},{319,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,131}}</string>
                <key>sourceSize</key>
                <string>{319,131}</string>
            </dict>
            <key>dmc7a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,359},{319,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,130}}</string>
                <key>sourceSize</key>
                <string>{319,130}</string>
            </dict>
            <key>dmc7a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{319,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,131}}</string>
                <key>sourceSize</key>
                <string>{319,131}</string>
            </dict>
            <key>dmc7a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1505},{278,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,131}}</string>
                <key>sourceSize</key>
                <string>{278,131}</string>
            </dict>
            <key>dmc7a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1378},{282,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,125}}</string>
                <key>sourceSize</key>
                <string>{282,125}</string>
            </dict>
            <key>dmc7a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,618},{312,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,133}}</string>
                <key>sourceSize</key>
                <string>{312,133}</string>
            </dict>
            <key>dmc7a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,832},{308,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,133}}</string>
                <key>sourceSize</key>
                <string>{308,133}</string>
            </dict>
            <key>dmc7a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,709},{307,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,133}}</string>
                <key>sourceSize</key>
                <string>{307,133}</string>
            </dict>
            <key>dmc7a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,844},{306,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,133}}</string>
                <key>sourceSize</key>
                <string>{306,133}</string>
            </dict>
            <key>dmc7a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,967},{305,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,133}}</string>
                <key>sourceSize</key>
                <string>{305,133}</string>
            </dict>
            <key>dmc7a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,967},{305,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,133}}</string>
                <key>sourceSize</key>
                <string>{305,133}</string>
            </dict>
            <key>dmc7a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1446},{279,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,124}}</string>
                <key>sourceSize</key>
                <string>{279,124}</string>
            </dict>
            <key>dmc7a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{322,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,137}}</string>
                <key>sourceSize</key>
                <string>{322,137}</string>
            </dict>
            <key>dmc7a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1782},{234,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,182}}</string>
                <key>sourceSize</key>
                <string>{234,182}</string>
            </dict>
            <key>dmc7a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{282,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,196}}</string>
                <key>sourceSize</key>
                <string>{282,196}</string>
            </dict>
            <key>dmc7a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,175}}</string>
                <key>sourceSize</key>
                <string>{398,175}</string>
            </dict>
            <key>dmc7a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,286},{237,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,189}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>dmc7a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1105},{294,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,188}}</string>
                <key>sourceSize</key>
                <string>{294,188}</string>
            </dict>
            <key>dmc7a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,979},{298,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,124}}</string>
                <key>sourceSize</key>
                <string>{298,124}</string>
            </dict>
            <key>dmc7a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,85},{326,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,139}}</string>
                <key>sourceSize</key>
                <string>{326,139}</string>
            </dict>
            <key>dmc7a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1187},{298,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,167}}</string>
                <key>sourceSize</key>
                <string>{298,167}</string>
            </dict>
            <key>dmc7a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1180},{293,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,179}}</string>
                <key>sourceSize</key>
                <string>{293,179}</string>
            </dict>
            <key>dmc7a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{292,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,187}}</string>
                <key>sourceSize</key>
                <string>{292,187}</string>
            </dict>
            <key>dmc7a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{298,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,167}}</string>
                <key>sourceSize</key>
                <string>{298,167}</string>
            </dict>
            <key>dmcsh7a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,491},{315,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,62}}</string>
                <key>sourceSize</key>
                <string>{315,62}</string>
            </dict>
            <key>dmcsh7a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,555},{314,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,61}}</string>
                <key>sourceSize</key>
                <string>{314,61}</string>
            </dict>
            <key>dmcsh7a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{315,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,62}}</string>
                <key>sourceSize</key>
                <string>{315,62}</string>
            </dict>
            <key>dmcsh7a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{315,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,63}}</string>
                <key>sourceSize</key>
                <string>{315,63}</string>
            </dict>
            <key>dmcsh7a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,179},{274,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,73}}</string>
                <key>sourceSize</key>
                <string>{274,73}</string>
            </dict>
            <key>dmcsh7a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1572},{278,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,70}}</string>
                <key>sourceSize</key>
                <string>{278,70}</string>
            </dict>
            <key>dmcsh7a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,753},{310,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,77}}</string>
                <key>sourceSize</key>
                <string>{310,77}</string>
            </dict>
            <key>dmcsh7a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,754},{306,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,77}}</string>
                <key>sourceSize</key>
                <string>{306,77}</string>
            </dict>
            <key>dmcsh7a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{305,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,77}}</string>
                <key>sourceSize</key>
                <string>{305,77}</string>
            </dict>
            <key>dmcsh7a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{304,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,77}}</string>
                <key>sourceSize</key>
                <string>{304,77}</string>
            </dict>
            <key>dmcsh7a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{303,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,77}}</string>
                <key>sourceSize</key>
                <string>{303,77}</string>
            </dict>
            <key>dmcsh7a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{303,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,77}}</string>
                <key>sourceSize</key>
                <string>{303,77}</string>
            </dict>
            <key>dmcsh7a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1505},{275,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,70}}</string>
                <key>sourceSize</key>
                <string>{275,70}</string>
            </dict>
            <key>dmcsh7a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{317,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,64}}</string>
                <key>sourceSize</key>
                <string>{317,64}</string>
            </dict>
            <key>dmcsh7a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1342},{229,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,85}}</string>
                <key>sourceSize</key>
                <string>{229,85}</string>
            </dict>
            <key>dmcsh7a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1062},{278,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,91}}</string>
                <key>sourceSize</key>
                <string>{278,91}</string>
            </dict>
            <key>dmcsh7a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{392,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,81}}</string>
                <key>sourceSize</key>
                <string>{392,81}</string>
            </dict>
            <key>dmcsh7a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{235,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,101}}</string>
                <key>sourceSize</key>
                <string>{235,101}</string>
            </dict>
            <key>dmcsh7a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{291,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,101}}</string>
                <key>sourceSize</key>
                <string>{291,101}</string>
            </dict>
            <key>dmcsh7a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,412},{295,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,71}}</string>
                <key>sourceSize</key>
                <string>{295,71}</string>
            </dict>
            <key>dmcsh7a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,85},{325,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,64}}</string>
                <key>sourceSize</key>
                <string>{325,64}</string>
            </dict>
            <key>dmcsh7a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1102},{297,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,76}}</string>
                <key>sourceSize</key>
                <string>{297,76}</string>
            </dict>
            <key>dmcsh7a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1295},{291,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,81}}</string>
                <key>sourceSize</key>
                <string>{291,81}</string>
            </dict>
            <key>dmcsh7a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1361},{289,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,83}}</string>
                <key>sourceSize</key>
                <string>{289,83}</string>
            </dict>
            <key>dmcsh7a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,455},{297,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,76}}</string>
                <key>sourceSize</key>
                <string>{297,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe56122c326bba27e3a6b0a65f2da52$</string>
            <key>textureFileName</key>
            <string>dmc7.png</string>
        </dict>
    </dict>
</plist>
