<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc10a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{29,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,72}}</string>
                <key>sourceSize</key>
                <string>{29,72}</string>
            </dict>
            <key>dmc10a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,34},{29,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,72}}</string>
                <key>sourceSize</key>
                <string>{29,72}</string>
            </dict>
            <key>dmc10a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{28,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,71}}</string>
                <key>sourceSize</key>
                <string>{28,71}</string>
            </dict>
            <key>dmc10a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,99},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>dmc10a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{28,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,71}}</string>
                <key>sourceSize</key>
                <string>{28,71}</string>
            </dict>
            <key>dmc10a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,34},{29,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,72}}</string>
                <key>sourceSize</key>
                <string>{29,72}</string>
            </dict>
            <key>dmc10a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{30,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,72}}</string>
                <key>sourceSize</key>
                <string>{30,72}</string>
            </dict>
            <key>dmc10a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{30,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,72}}</string>
                <key>sourceSize</key>
                <string>{30,72}</string>
            </dict>
            <key>dmc10a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,34},{25,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,72}}</string>
                <key>sourceSize</key>
                <string>{25,72}</string>
            </dict>
            <key>dmc10a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,72}}</string>
                <key>sourceSize</key>
                <string>{37,72}</string>
            </dict>
            <key>dmc10a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,61},{36,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,71}}</string>
                <key>sourceSize</key>
                <string>{36,71}</string>
            </dict>
            <key>dmc10a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,65},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>dmc10a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,133},{60,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,63}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>dmc10a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,130},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>dmc10a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{54,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,63}}</string>
                <key>sourceSize</key>
                <string>{54,63}</string>
            </dict>
            <key>dmc10a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{39,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,64}}</string>
                <key>sourceSize</key>
                <string>{39,64}</string>
            </dict>
            <key>dmc10a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,194},{33,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,63}}</string>
                <key>sourceSize</key>
                <string>{33,63}</string>
            </dict>
            <key>dmc10a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{30,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,62}}</string>
                <key>sourceSize</key>
                <string>{30,62}</string>
            </dict>
            <key>dmc10a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>dmc10a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,229},{30,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,58}}</string>
                <key>sourceSize</key>
                <string>{30,58}</string>
            </dict>
            <key>dmc10a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,195},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,63}}</string>
                <key>sourceSize</key>
                <string>{31,63}</string>
            </dict>
            <key>dmc10a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,102},{29,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,69}}</string>
                <key>sourceSize</key>
                <string>{29,69}</string>
            </dict>
            <key>dmc10a4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,66},{31,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,70}}</string>
                <key>sourceSize</key>
                <string>{31,70}</string>
            </dict>
            <key>dmc10a4f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{27,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,71}}</string>
                <key>sourceSize</key>
                <string>{27,71}</string>
            </dict>
            <key>dmcsh10a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,277},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dmcsh10a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,271},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>dmcsh10a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,271},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>dmcsh10a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>dmcsh10a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,261},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dmcsh10a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,261},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>dmcsh10a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,253},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>dmcsh10a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,229},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>dmcsh10a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,260},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>dmcsh10a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,138},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>dmcsh10a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,162},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>dmcsh10a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,206},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>dmcsh10a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,228},{61,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,19}}</string>
                <key>sourceSize</key>
                <string>{61,19}</string>
            </dict>
            <key>dmcsh10a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,206},{63,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,19}}</string>
                <key>sourceSize</key>
                <string>{63,19}</string>
            </dict>
            <key>dmcsh10a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,185},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>dmcsh10a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,249},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>dmcsh10a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>dmcsh10a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,295},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>dmcsh10a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,272},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>dmcsh10a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>dmcsh10a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,284},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>dmcsh10a4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,296},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>dmcsh10a4f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,249},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc10.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5b8975f1309ad5f94bbd8a573b4645b$</string>
            <key>textureFileName</key>
            <string>dmc10.png</string>
        </dict>
    </dict>
</plist>
