<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc16a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,258},{204,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,297}}</string>
                <key>sourceSize</key>
                <string>{204,297}</string>
            </dict>
            <key>dmc16a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,670},{205,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,295}}</string>
                <key>sourceSize</key>
                <string>{205,295}</string>
            </dict>
            <key>dmc16a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,464},{204,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,296}}</string>
                <key>sourceSize</key>
                <string>{204,296}</string>
            </dict>
            <key>dmc16a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,466},{205,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,295}}</string>
                <key>sourceSize</key>
                <string>{205,295}</string>
            </dict>
            <key>dmc16a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,46},{311,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,210}}</string>
                <key>sourceSize</key>
                <string>{311,210}</string>
            </dict>
            <key>dmc16a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,295},{308,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,240}}</string>
                <key>sourceSize</key>
                <string>{308,240}</string>
            </dict>
            <key>dmc16a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,84},{309,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,209}}</string>
                <key>sourceSize</key>
                <string>{309,209}</string>
            </dict>
            <key>dmc16a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,389},{308,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,236}}</string>
                <key>sourceSize</key>
                <string>{308,236}</string>
            </dict>
            <key>dmc16a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{308,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,231}}</string>
                <key>sourceSize</key>
                <string>{308,231}</string>
            </dict>
            <key>dmc16a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{303,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,298}}</string>
                <key>sourceSize</key>
                <string>{303,298}</string>
            </dict>
            <key>dmc16a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,627},{278,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,248}}</string>
                <key>sourceSize</key>
                <string>{278,248}</string>
            </dict>
            <key>dmc16a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,451},{308,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,228}}</string>
                <key>sourceSize</key>
                <string>{308,228}</string>
            </dict>
            <key>dmc16a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,46},{317,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,208}}</string>
                <key>sourceSize</key>
                <string>{317,208}</string>
            </dict>
            <key>dmc16a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,256},{300,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,208}}</string>
                <key>sourceSize</key>
                <string>{300,208}</string>
            </dict>
            <key>dmc16a2f30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,537},{291,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,230}}</string>
                <key>sourceSize</key>
                <string>{291,230}</string>
            </dict>
            <key>dmc16a2f31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{291,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,230}}</string>
                <key>sourceSize</key>
                <string>{291,230}</string>
            </dict>
            <key>dmc16a2f32.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,727},{291,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,230}}</string>
                <key>sourceSize</key>
                <string>{291,230}</string>
            </dict>
            <key>dmc16a2f33.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,959},{291,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,229}}</string>
                <key>sourceSize</key>
                <string>{291,229}</string>
            </dict>
            <key>dmc16a2f34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,923},{263,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,229}}</string>
                <key>sourceSize</key>
                <string>{263,229}</string>
            </dict>
            <key>dmc16a2f35.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,877},{262,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,233}}</string>
                <key>sourceSize</key>
                <string>{262,233}</string>
            </dict>
            <key>dmc16a2f36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1094},{261,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,234}}</string>
                <key>sourceSize</key>
                <string>{261,234}</string>
            </dict>
            <key>dmc16a2f37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,217}}</string>
                <key>sourceSize</key>
                <string>{363,217}</string>
            </dict>
            <key>dmc16a2f38.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{361,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,217}}</string>
                <key>sourceSize</key>
                <string>{361,217}</string>
            </dict>
            <key>dmc16a2f39.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,221},{308,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,228}}</string>
                <key>sourceSize</key>
                <string>{308,228}</string>
            </dict>
            <key>dmc16a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,959},{291,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,229}}</string>
                <key>sourceSize</key>
                <string>{291,229}</string>
            </dict>
            <key>dmc16a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{263,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,229}}</string>
                <key>sourceSize</key>
                <string>{263,229}</string>
            </dict>
            <key>dmc16a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,859},{262,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,233}}</string>
                <key>sourceSize</key>
                <string>{262,233}</string>
            </dict>
            <key>dmc16a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,947},{261,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,234}}</string>
                <key>sourceSize</key>
                <string>{261,234}</string>
            </dict>
            <key>dmc16a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{363,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,217}}</string>
                <key>sourceSize</key>
                <string>{363,217}</string>
            </dict>
            <key>dmc16a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{361,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,217}}</string>
                <key>sourceSize</key>
                <string>{361,217}</string>
            </dict>
            <key>dmc16a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,763},{182,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,285}}</string>
                <key>sourceSize</key>
                <string>{182,285}</string>
            </dict>
            <key>dmc16a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{179,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,286}}</string>
                <key>sourceSize</key>
                <string>{179,286}</string>
            </dict>
            <key>dmc16a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1190},{179,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,286}}</string>
                <key>sourceSize</key>
                <string>{179,286}</string>
            </dict>
            <key>dmc16a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1113},{179,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,286}}</string>
                <key>sourceSize</key>
                <string>{179,286}</string>
            </dict>
            <key>dmcsh16a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,517},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>dmcsh16a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,406},{205,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,50}}</string>
                <key>sourceSize</key>
                <string>{205,50}</string>
            </dict>
            <key>dmcsh16a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,613},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>dmcsh16a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,406},{205,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,50}}</string>
                <key>sourceSize</key>
                <string>{205,50}</string>
            </dict>
            <key>dmcsh16a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,84},{303,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,39}}</string>
                <key>sourceSize</key>
                <string>{303,39}</string>
            </dict>
            <key>dmcsh16a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,673},{292,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,45}}</string>
                <key>sourceSize</key>
                <string>{292,45}</string>
            </dict>
            <key>dmcsh16a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{304,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,40}}</string>
                <key>sourceSize</key>
                <string>{304,40}</string>
            </dict>
            <key>dmcsh16a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{304,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,44}}</string>
                <key>sourceSize</key>
                <string>{304,44}</string>
            </dict>
            <key>dmcsh16a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,681},{301,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,44}}</string>
                <key>sourceSize</key>
                <string>{301,44}</string>
            </dict>
            <key>dmcsh16a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,404},{295,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,53}}</string>
                <key>sourceSize</key>
                <string>{295,53}</string>
            </dict>
            <key>dmcsh16a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,877},{273,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,44}}</string>
                <key>sourceSize</key>
                <string>{273,44}</string>
            </dict>
            <key>dmcsh16a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,720},{292,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,41}}</string>
                <key>sourceSize</key>
                <string>{292,41}</string>
            </dict>
            <key>dmcsh16a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{304,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,37}}</string>
                <key>sourceSize</key>
                <string>{304,37}</string>
            </dict>
            <key>dmcsh16a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,406},{284,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,37}}</string>
                <key>sourceSize</key>
                <string>{284,37}</string>
            </dict>
            <key>dmcsh16a2f30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,769},{277,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,45}}</string>
                <key>sourceSize</key>
                <string>{277,45}</string>
            </dict>
            <key>dmcsh16a2f31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,769},{277,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,45}}</string>
                <key>sourceSize</key>
                <string>{277,45}</string>
            </dict>
            <key>dmcsh16a2f32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,627},{277,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,45}}</string>
                <key>sourceSize</key>
                <string>{277,45}</string>
            </dict>
            <key>dmcsh16a2f33.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,950},{277,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,45}}</string>
                <key>sourceSize</key>
                <string>{277,45}</string>
            </dict>
            <key>dmcsh16a2f34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,819},{237,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,45}}</string>
                <key>sourceSize</key>
                <string>{237,45}</string>
            </dict>
            <key>dmcsh16a2f35.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,701},{247,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,46}}</string>
                <key>sourceSize</key>
                <string>{247,46}</string>
            </dict>
            <key>dmcsh16a2f36.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,723},{242,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,46}}</string>
                <key>sourceSize</key>
                <string>{242,46}</string>
            </dict>
            <key>dmcsh16a2f37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{347,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,42}}</string>
                <key>sourceSize</key>
                <string>{347,42}</string>
            </dict>
            <key>dmcsh16a2f38.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{347,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,42}}</string>
                <key>sourceSize</key>
                <string>{347,42}</string>
            </dict>
            <key>dmcsh16a2f39.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,221},{294,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,45}}</string>
                <key>sourceSize</key>
                <string>{294,45}</string>
            </dict>
            <key>dmcsh16a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,816},{276,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,41}}</string>
                <key>sourceSize</key>
                <string>{276,41}</string>
            </dict>
            <key>dmcsh16a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,906},{246,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,41}}</string>
                <key>sourceSize</key>
                <string>{246,41}</string>
            </dict>
            <key>dmcsh16a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,277},{248,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,42}}</string>
                <key>sourceSize</key>
                <string>{248,42}</string>
            </dict>
            <key>dmcsh16a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,233},{248,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,42}}</string>
                <key>sourceSize</key>
                <string>{248,42}</string>
            </dict>
            <key>dmcsh16a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{346,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,39}}</string>
                <key>sourceSize</key>
                <string>{346,39}</string>
            </dict>
            <key>dmcsh16a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,43},{345,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,39}}</string>
                <key>sourceSize</key>
                <string>{345,39}</string>
            </dict>
            <key>dmcsh16a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,221},{181,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,59}}</string>
                <key>sourceSize</key>
                <string>{181,59}</string>
            </dict>
            <key>dmcsh16a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,321},{178,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,60}}</string>
                <key>sourceSize</key>
                <string>{178,60}</string>
            </dict>
            <key>dmcsh16a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,226},{178,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,60}}</string>
                <key>sourceSize</key>
                <string>{178,60}</string>
            </dict>
            <key>dmcsh16a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,46},{178,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,60}}</string>
                <key>sourceSize</key>
                <string>{178,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc16.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0abc656178cac26476b55d2d391c9a02$</string>
            <key>textureFileName</key>
            <string>dmc16.png</string>
        </dict>
    </dict>
</plist>
