<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc17a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1500},{233,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,326}}</string>
                <key>sourceSize</key>
                <string>{233,326}</string>
            </dict>
            <key>dmc17a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,705},{266,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,316}}</string>
                <key>sourceSize</key>
                <string>{266,316}</string>
            </dict>
            <key>dmc17a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{289,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,312}}</string>
                <key>sourceSize</key>
                <string>{289,312}</string>
            </dict>
            <key>dmc17a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,760},{263,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,337}}</string>
                <key>sourceSize</key>
                <string>{263,337}</string>
            </dict>
            <key>dmc17a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,413}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,413}}</string>
                <key>sourceSize</key>
                <string>{208,413}</string>
            </dict>
            <key>dmc17a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1517},{243,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,327}}</string>
                <key>sourceSize</key>
                <string>{243,327}</string>
            </dict>
            <key>dmc17a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,416},{255,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,336}}</string>
                <key>sourceSize</key>
                <string>{255,336}</string>
            </dict>
            <key>dmc17a0f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1116},{261,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,338}}</string>
                <key>sourceSize</key>
                <string>{261,338}</string>
            </dict>
            <key>dmc17a0f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1079},{233,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,318}}</string>
                <key>sourceSize</key>
                <string>{233,318}</string>
            </dict>
            <key>dmc17a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1120},{233,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,347}}</string>
                <key>sourceSize</key>
                <string>{233,347}</string>
            </dict>
            <key>dmc17a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,768},{241,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,346}}</string>
                <key>sourceSize</key>
                <string>{241,346}</string>
            </dict>
            <key>dmc17a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{333,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,239}}</string>
                <key>sourceSize</key>
                <string>{333,239}</string>
            </dict>
            <key>dmc17a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{376,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,237}}</string>
                <key>sourceSize</key>
                <string>{376,237}</string>
            </dict>
            <key>dmc17a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{373,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,246}}</string>
                <key>sourceSize</key>
                <string>{373,246}</string>
            </dict>
            <key>dmc17a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{368,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,227}}</string>
                <key>sourceSize</key>
                <string>{368,227}</string>
            </dict>
            <key>dmc17a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1165},{367,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,227}}</string>
                <key>sourceSize</key>
                <string>{367,227}</string>
            </dict>
            <key>dmc17a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{370,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,227}}</string>
                <key>sourceSize</key>
                <string>{370,227}</string>
            </dict>
            <key>dmc17a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,416},{233,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,342}}</string>
                <key>sourceSize</key>
                <string>{233,342}</string>
            </dict>
            <key>dmc17a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,416},{257,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,350}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>dmc17a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1501},{259,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,326}}</string>
                <key>sourceSize</key>
                <string>{259,326}</string>
            </dict>
            <key>dmc17a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,754},{259,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,323}}</string>
                <key>sourceSize</key>
                <string>{259,323}</string>
            </dict>
            <key>dmc17a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1099},{253,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,324}}</string>
                <key>sourceSize</key>
                <string>{253,324}</string>
            </dict>
            <key>dmc17a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,384},{292,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,319}}</string>
                <key>sourceSize</key>
                <string>{292,319}</string>
            </dict>
            <key>dmc17a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1534},{362,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,329}}</string>
                <key>sourceSize</key>
                <string>{362,329}</string>
            </dict>
            <key>dmc17a4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{306,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,333}}</string>
                <key>sourceSize</key>
                <string>{306,333}</string>
            </dict>
            <key>dmcsh17a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1846},{233,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,45}}</string>
                <key>sourceSize</key>
                <string>{233,45}</string>
            </dict>
            <key>dmcsh17a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1939},{265,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,43}}</string>
                <key>sourceSize</key>
                <string>{265,43}</string>
            </dict>
            <key>dmcsh17a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1846},{288,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,43}}</string>
                <key>sourceSize</key>
                <string>{288,43}</string>
            </dict>
            <key>dmcsh17a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1998},{260,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,46}}</string>
                <key>sourceSize</key>
                <string>{260,46}</string>
            </dict>
            <key>dmcsh17a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{206,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,57}}</string>
                <key>sourceSize</key>
                <string>{206,57}</string>
            </dict>
            <key>dmcsh17a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,337},{242,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,45}}</string>
                <key>sourceSize</key>
                <string>{242,45}</string>
            </dict>
            <key>dmcsh17a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1469},{254,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,46}}</string>
                <key>sourceSize</key>
                <string>{254,46}</string>
            </dict>
            <key>dmcsh17a0f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1950},{260,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,46}}</string>
                <key>sourceSize</key>
                <string>{260,46}</string>
            </dict>
            <key>dmcsh17a0f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1893},{233,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,44}}</string>
                <key>sourceSize</key>
                <string>{233,44}</string>
            </dict>
            <key>dmcsh17a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1898},{233,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,50}}</string>
                <key>sourceSize</key>
                <string>{233,50}</string>
            </dict>
            <key>dmcsh17a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1958},{238,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,50}}</string>
                <key>sourceSize</key>
                <string>{238,50}</string>
            </dict>
            <key>dmcsh17a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{333,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,34}}</string>
                <key>sourceSize</key>
                <string>{333,34}</string>
            </dict>
            <key>dmcsh17a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{371,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,35}}</string>
                <key>sourceSize</key>
                <string>{371,35}</string>
            </dict>
            <key>dmcsh17a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,377},{369,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,37}}</string>
                <key>sourceSize</key>
                <string>{369,37}</string>
            </dict>
            <key>dmcsh17a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{363,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,33}}</string>
                <key>sourceSize</key>
                <string>{363,33}</string>
            </dict>
            <key>dmcsh17a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1158},{361,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,33}}</string>
                <key>sourceSize</key>
                <string>{361,33}</string>
            </dict>
            <key>dmcsh17a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,795},{361,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,33}}</string>
                <key>sourceSize</key>
                <string>{361,33}</string>
            </dict>
            <key>dmcsh17a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1456},{233,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,43}}</string>
                <key>sourceSize</key>
                <string>{233,43}</string>
            </dict>
            <key>dmcsh17a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1891},{256,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,43}}</string>
                <key>sourceSize</key>
                <string>{256,43}</string>
            </dict>
            <key>dmcsh17a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1828},{259,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,41}}</string>
                <key>sourceSize</key>
                <string>{259,41}</string>
            </dict>
            <key>dmcsh17a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1984},{258,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,41}}</string>
                <key>sourceSize</key>
                <string>{258,41}</string>
            </dict>
            <key>dmcsh17a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1936},{253,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,41}}</string>
                <key>sourceSize</key>
                <string>{253,41}</string>
            </dict>
            <key>dmcsh17a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,374},{290,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,40}}</string>
                <key>sourceSize</key>
                <string>{290,40}</string>
            </dict>
            <key>dmcsh17a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,768},{350,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,41}}</string>
                <key>sourceSize</key>
                <string>{350,41}</string>
            </dict>
            <key>dmcsh17a4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1456},{301,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,42}}</string>
                <key>sourceSize</key>
                <string>{301,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc17.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518a9c91c7b267715c200997856eaa07$</string>
            <key>textureFileName</key>
            <string>dmc17.png</string>
        </dict>
    </dict>
</plist>
