<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc18a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,735},{73,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,138}}</string>
                <key>sourceSize</key>
                <string>{73,138}</string>
            </dict>
            <key>dmc18a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,694},{73,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,138}}</string>
                <key>sourceSize</key>
                <string>{73,138}</string>
            </dict>
            <key>dmc18a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,572},{142,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>dmc18a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,810},{134,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,114}}</string>
                <key>sourceSize</key>
                <string>{134,114}</string>
            </dict>
            <key>dmc18a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,619},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>dmc18a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,157},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>dmc18a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,457},{152,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>dmc18a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,273},{149,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,133}}</string>
                <key>sourceSize</key>
                <string>{149,133}</string>
            </dict>
            <key>dmc18a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{189,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,132}}</string>
                <key>sourceSize</key>
                <string>{189,132}</string>
            </dict>
            <key>dmc18a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,137},{178,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,149}}</string>
                <key>sourceSize</key>
                <string>{178,149}</string>
            </dict>
            <key>dmc18a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,370},{165,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,159}}</string>
                <key>sourceSize</key>
                <string>{165,159}</string>
            </dict>
            <key>dmc18a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{153,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,151}}</string>
                <key>sourceSize</key>
                <string>{153,151}</string>
            </dict>
            <key>dmc18a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{186,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,134}}</string>
                <key>sourceSize</key>
                <string>{186,134}</string>
            </dict>
            <key>dmc18a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,133}}</string>
                <key>sourceSize</key>
                <string>{355,133}</string>
            </dict>
            <key>dmc18a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{180,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,114}}</string>
                <key>sourceSize</key>
                <string>{180,114}</string>
            </dict>
            <key>dmc18a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{86,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,111}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>dmc18a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{95,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,111}}</string>
                <key>sourceSize</key>
                <string>{95,111}</string>
            </dict>
            <key>dmcsh18a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,695},{72,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,34}}</string>
                <key>sourceSize</key>
                <string>{72,34}</string>
            </dict>
            <key>dmcsh18a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,716},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>dmcsh18a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,573},{141,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,34}}</string>
                <key>sourceSize</key>
                <string>{141,34}</string>
            </dict>
            <key>dmcsh18a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,868},{131,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,43}}</string>
                <key>sourceSize</key>
                <string>{131,43}</string>
            </dict>
            <key>dmcsh18a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,790},{133,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,44}}</string>
                <key>sourceSize</key>
                <string>{133,44}</string>
            </dict>
            <key>dmcsh18a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{137,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,43}}</string>
                <key>sourceSize</key>
                <string>{137,43}</string>
            </dict>
            <key>dmcsh18a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,573},{141,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,44}}</string>
                <key>sourceSize</key>
                <string>{141,44}</string>
            </dict>
            <key>dmcsh18a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,531},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>dmcsh18a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{189,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,38}}</string>
                <key>sourceSize</key>
                <string>{189,38}</string>
            </dict>
            <key>dmcsh18a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,740},{126,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,48}}</string>
                <key>sourceSize</key>
                <string>{126,48}</string>
            </dict>
            <key>dmcsh18a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,317},{163,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,51}}</string>
                <key>sourceSize</key>
                <string>{163,51}</string>
            </dict>
            <key>dmcsh18a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,408},{153,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,47}}</string>
                <key>sourceSize</key>
                <string>{153,47}</string>
            </dict>
            <key>dmcsh18a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{186,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,44}}</string>
                <key>sourceSize</key>
                <string>{186,44}</string>
            </dict>
            <key>dmcsh18a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{204,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,44}}</string>
                <key>sourceSize</key>
                <string>{204,44}</string>
            </dict>
            <key>dmcsh18a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{179,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,38}}</string>
                <key>sourceSize</key>
                <string>{179,38}</string>
            </dict>
            <key>dmcsh18a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>dmcsh18a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,925},{95,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,28}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc18.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf11b79dbe2bb6864f5c5860a1c0b4ce$</string>
            <key>textureFileName</key>
            <string>dmc18.png</string>
        </dict>
    </dict>
</plist>
