<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc2a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{70,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{70,128}</string>
            </dict>
            <key>dmc2a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{71,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,129}}</string>
                <key>sourceSize</key>
                <string>{71,129}</string>
            </dict>
            <key>dmc2a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{72,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,128}}</string>
                <key>sourceSize</key>
                <string>{72,128}</string>
            </dict>
            <key>dmc2a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,673},{71,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,127}}</string>
                <key>sourceSize</key>
                <string>{71,127}</string>
            </dict>
            <key>dmc2a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{70,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,126}}</string>
                <key>sourceSize</key>
                <string>{70,126}</string>
            </dict>
            <key>dmc2a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,679},{70,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,127}}</string>
                <key>sourceSize</key>
                <string>{70,127}</string>
            </dict>
            <key>dmc2a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,610},{61,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,128}}</string>
                <key>sourceSize</key>
                <string>{61,128}</string>
            </dict>
            <key>dmc2a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,108},{100,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,128}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>dmc2a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,129}}</string>
                <key>sourceSize</key>
                <string>{91,129}</string>
            </dict>
            <key>dmc2a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{101,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,128}}</string>
                <key>sourceSize</key>
                <string>{101,128}</string>
            </dict>
            <key>dmc2a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,311},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,75},{102,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>dmc2a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,280},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,179},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,179},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{104,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{104,128}</string>
            </dict>
            <key>dmc2a2f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,179},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,179},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>dmc2a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,381},{98,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,128}}</string>
                <key>sourceSize</key>
                <string>{98,128}</string>
            </dict>
            <key>dmc2a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,580},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>dmc2a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,511},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>dmc2a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>dmc2a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,481},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>dmc2a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>dmc2a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>dmc2a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,424},{90,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{90,102}</string>
            </dict>
            <key>dmc2a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,671},{99,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>dmc2a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,328},{94,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,103}}</string>
                <key>sourceSize</key>
                <string>{94,103}</string>
            </dict>
            <key>dmc2a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>dmc2a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,751},{73,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,119}}</string>
                <key>sourceSize</key>
                <string>{73,119}</string>
            </dict>
            <key>dmc2a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,108},{55,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,117}}</string>
                <key>sourceSize</key>
                <string>{55,117}</string>
            </dict>
            <key>dmc2a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,606},{63,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,100}}</string>
                <key>sourceSize</key>
                <string>{63,100}</string>
            </dict>
            <key>dmc2a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,826},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>dmc2a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,826},{69,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>dmc2a4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,165},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>dmc2a4f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,771},{73,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,119}}</string>
                <key>sourceSize</key>
                <string>{73,119}</string>
            </dict>
            <key>dmc2a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,746},{69,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,125}}</string>
                <key>sourceSize</key>
                <string>{69,125}</string>
            </dict>
            <key>dmcsh2a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,850},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>dmcsh2a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,850},{70,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,31}}</string>
                <key>sourceSize</key>
                <string>{70,31}</string>
            </dict>
            <key>dmcsh2a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,817},{71,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,31}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>dmcsh2a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,989},{70,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,31}}</string>
                <key>sourceSize</key>
                <string>{70,31}</string>
            </dict>
            <key>dmcsh2a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,817},{71,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,31}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>dmcsh2a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,850},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>dmcsh2a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,846},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>dmcsh2a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,576},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>dmcsh2a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,883},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>dmcsh2a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,546},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>dmcsh2a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,906},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,516},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>dmcsh2a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,906},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,906},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,270},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
            <key>dmcsh2a2f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>dmcsh2a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,890},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>dmcsh2a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,901},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>dmcsh2a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,901},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>dmcsh2a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,901},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>dmcsh2a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,902},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>dmcsh2a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,905},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>dmcsh2a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,816},{87,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,25}}</string>
                <key>sourceSize</key>
                <string>{87,25}</string>
            </dict>
            <key>dmcsh2a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,883},{96,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,24}</string>
            </dict>
            <key>dmcsh2a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,882},{92,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,24}}</string>
                <key>sourceSize</key>
                <string>{92,24}</string>
            </dict>
            <key>dmcsh2a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,300},{104,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,26}}</string>
                <key>sourceSize</key>
                <string>{104,26}</string>
            </dict>
            <key>dmcsh2a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,826},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>dmcsh2a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,846},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>dmcsh2a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1000},{62,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,22}}</string>
                <key>sourceSize</key>
                <string>{62,22}</string>
            </dict>
            <key>dmcsh2a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,606},{68,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,16}}</string>
                <key>sourceSize</key>
                <string>{68,16}</string>
            </dict>
            <key>dmcsh2a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,606},{68,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,16}}</string>
                <key>sourceSize</key>
                <string>{68,16}</string>
            </dict>
            <key>dmcsh2a4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,883},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,24}}</string>
                <key>sourceSize</key>
                <string>{94,24}</string>
            </dict>
            <key>dmcsh2a4f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,826},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>dmcsh2a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,979},{66,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,31}}</string>
                <key>sourceSize</key>
                <string>{66,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bce9eee5ff69cb568dbf1d05e3a4dc$</string>
            <key>textureFileName</key>
            <string>dmc2.png</string>
        </dict>
    </dict>
</plist>
