<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc4a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,336},{101,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{101,135}</string>
            </dict>
            <key>dmc4a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{101,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,134}}</string>
                <key>sourceSize</key>
                <string>{101,134}</string>
            </dict>
            <key>dmc4a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,320},{101,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,133}}</string>
                <key>sourceSize</key>
                <string>{101,133}</string>
            </dict>
            <key>dmc4a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{101,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,134}}</string>
                <key>sourceSize</key>
                <string>{101,134}</string>
            </dict>
            <key>dmc4a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,500},{125,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,107}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>dmc4a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>dmc4a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,531},{127,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,103}}</string>
                <key>sourceSize</key>
                <string>{127,103}</string>
            </dict>
            <key>dmc4a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,564},{121,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,102}}</string>
                <key>sourceSize</key>
                <string>{121,102}</string>
            </dict>
            <key>dmc4a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,625},{106,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,103}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>dmc4a1f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,423},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,106}</string>
            </dict>
            <key>dmc4a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,106}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,106}}</string>
                <key>sourceSize</key>
                <string>{269,106}</string>
            </dict>
            <key>dmc4a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,104}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,104}}</string>
                <key>sourceSize</key>
                <string>{269,104}</string>
            </dict>
            <key>dmc4a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,247},{170,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,148}}</string>
                <key>sourceSize</key>
                <string>{170,148}</string>
            </dict>
            <key>dmc4a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{164,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,165}}</string>
                <key>sourceSize</key>
                <string>{164,165}</string>
            </dict>
            <key>dmc4a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,60},{171,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,151}}</string>
                <key>sourceSize</key>
                <string>{171,151}</string>
            </dict>
            <key>dmc4a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,401},{167,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,161}}</string>
                <key>sourceSize</key>
                <string>{167,161}</string>
            </dict>
            <key>dmc4a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,163},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>dmc4a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,108},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>dmc4a2f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{94,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,135}}</string>
                <key>sourceSize</key>
                <string>{94,135}</string>
            </dict>
            <key>dmc4a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,101}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,101}}</string>
                <key>sourceSize</key>
                <string>{269,101}</string>
            </dict>
            <key>dmc4a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,74},{113,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,180}}</string>
                <key>sourceSize</key>
                <string>{113,180}</string>
            </dict>
            <key>dmc4a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{56,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,177}}</string>
                <key>sourceSize</key>
                <string>{56,177}</string>
            </dict>
            <key>dmc4a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,271},{56,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,179}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>dmc4a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,213},{56,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,179}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>dmc4a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,189},{56,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,179}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>dmc4a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,105},{56,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,179}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>dmc4a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,105},{56,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,179}}</string>
                <key>sourceSize</key>
                <string>{56,179}</string>
            </dict>
            <key>dmc4a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{103,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,122}}</string>
                <key>sourceSize</key>
                <string>{103,122}</string>
            </dict>
            <key>dmc4a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,397},{101,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,130}}</string>
                <key>sourceSize</key>
                <string>{101,130}</string>
            </dict>
            <key>dmc4a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,336},{101,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,135}}</string>
                <key>sourceSize</key>
                <string>{101,135}</string>
            </dict>
            <key>dmc4a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,518},{105,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,127}}</string>
                <key>sourceSize</key>
                <string>{105,127}</string>
            </dict>
            <key>dmc4a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,439},{131,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,77}}</string>
                <key>sourceSize</key>
                <string>{131,77}</string>
            </dict>
            <key>dmc4a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,625},{116,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>sourceSize</key>
                <string>{116,104}</string>
            </dict>
            <key>dmc4a4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,398},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>dmc4a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,265},{69,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,145}}</string>
                <key>sourceSize</key>
                <string>{69,145}</string>
            </dict>
            <key>dmc4a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{69,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,145}}</string>
                <key>sourceSize</key>
                <string>{69,145}</string>
            </dict>
            <key>dmcsh4a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,498},{95,37}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>dmcsh4a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,320},{101,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,37}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>dmcsh4a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,397},{99,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>dmcsh4a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,320},{101,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,37}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>dmcsh4a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,74},{123,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,23}}</string>
                <key>sourceSize</key>
                <string>{123,23}</string>
            </dict>
            <key>dmcsh4a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,265},{101,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,22}}</string>
                <key>sourceSize</key>
                <string>{101,22}</string>
            </dict>
            <key>dmcsh4a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,423},{123,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,21}}</string>
                <key>sourceSize</key>
                <string>{123,21}</string>
            </dict>
            <key>dmcsh4a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,423},{119,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,21}}</string>
                <key>sourceSize</key>
                <string>{119,21}</string>
            </dict>
            <key>dmcsh4a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,553},{102,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,21}}</string>
                <key>sourceSize</key>
                <string>{102,21}</string>
            </dict>
            <key>dmcsh4a1f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,199},{126,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,22}}</string>
                <key>sourceSize</key>
                <string>{126,22}</string>
            </dict>
            <key>dmcsh4a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,50},{207,22}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,22}}</string>
                <key>sourceSize</key>
                <string>{267,22}</string>
            </dict>
            <key>dmcsh4a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,26},{207,22}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,22}}</string>
                <key>sourceSize</key>
                <string>{267,22}</string>
            </dict>
            <key>dmcsh4a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,327},{147,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,31}}</string>
                <key>sourceSize</key>
                <string>{147,31}</string>
            </dict>
            <key>dmcsh4a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,108},{164,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,37}}</string>
                <key>sourceSize</key>
                <string>{164,37}</string>
            </dict>
            <key>dmcsh4a2f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{146,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,32}}</string>
                <key>sourceSize</key>
                <string>{146,32}</string>
            </dict>
            <key>dmcsh4a2f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,219},{166,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,36}}</string>
                <key>sourceSize</key>
                <string>{166,36}</string>
            </dict>
            <key>dmcsh4a2f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,365},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>dmcsh4a2f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,329},{168,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,34}}</string>
                <key>sourceSize</key>
                <string>{168,34}</string>
            </dict>
            <key>dmcsh4a2f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,368},{91,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,29}}</string>
                <key>sourceSize</key>
                <string>{91,29}</string>
            </dict>
            <key>dmcsh4a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{207,22}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,22}}</string>
                <key>sourceSize</key>
                <string>{267,22}</string>
            </dict>
            <key>dmcsh4a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,250},{105,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,39}}</string>
                <key>sourceSize</key>
                <string>{105,39}</string>
            </dict>
            <key>dmcsh4a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,516},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,38}}</string>
                <key>sourceSize</key>
                <string>{56,38}</string>
            </dict>
            <key>dmcsh4a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,390},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>dmcsh4a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,332},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>dmcsh4a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,357},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>dmcsh4a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,274},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>dmcsh4a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,274},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>dmcsh4a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,461},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>dmcsh4a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,387},{101,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,36}}</string>
                <key>sourceSize</key>
                <string>{101,36}</string>
            </dict>
            <key>dmcsh4a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,498},{95,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,37}}</string>
                <key>sourceSize</key>
                <string>{95,37}</string>
            </dict>
            <key>dmcsh4a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,448},{103,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,35}}</string>
                <key>sourceSize</key>
                <string>{103,35}</string>
            </dict>
            <key>dmcsh4a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,476},{127,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,21}}</string>
                <key>sourceSize</key>
                <string>{127,21}</string>
            </dict>
            <key>dmcsh4a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,105},{112,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,27}}</string>
                <key>sourceSize</key>
                <string>{112,27}</string>
            </dict>
            <key>dmcsh4a4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,490},{112,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,19}}</string>
                <key>sourceSize</key>
                <string>{112,19}</string>
            </dict>
            <key>dmcsh4a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,180},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>dmcsh4a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,110},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c21640d11e19f8b318aa26dd612b7559$</string>
            <key>textureFileName</key>
            <string>dmc4.png</string>
        </dict>
    </dict>
</plist>
