<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc5a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,979},{170,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,175}}</string>
                <key>sourceSize</key>
                <string>{170,175}</string>
            </dict>
            <key>dmc5a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,984},{170,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,174}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>dmc5a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1199},{170,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,173}}</string>
                <key>sourceSize</key>
                <string>{170,173}</string>
            </dict>
            <key>dmc5a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{170,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,174}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>dmc5a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,467},{227,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,168}}</string>
                <key>sourceSize</key>
                <string>{227,168}</string>
            </dict>
            <key>dmc5a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,230},{234,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,175}}</string>
                <key>sourceSize</key>
                <string>{234,175}</string>
            </dict>
            <key>dmc5a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{225,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,172}}</string>
                <key>sourceSize</key>
                <string>{225,172}</string>
            </dict>
            <key>dmc5a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,637},{226,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,156}}</string>
                <key>sourceSize</key>
                <string>{226,156}</string>
            </dict>
            <key>dmc5a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,638},{224,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,162}}</string>
                <key>sourceSize</key>
                <string>{224,162}</string>
            </dict>
            <key>dmc5a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{252,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,175}}</string>
                <key>sourceSize</key>
                <string>{252,175}</string>
            </dict>
            <key>dmc5a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,162}}</string>
                <key>sourceSize</key>
                <string>{374,162}</string>
            </dict>
            <key>dmc5a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,50},{363,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,162}}</string>
                <key>sourceSize</key>
                <string>{363,162}</string>
            </dict>
            <key>dmc5a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{355,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,162}}</string>
                <key>sourceSize</key>
                <string>{355,162}</string>
            </dict>
            <key>dmc5a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,378},{352,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,162}}</string>
                <key>sourceSize</key>
                <string>{352,162}</string>
            </dict>
            <key>dmc5a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{352,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,162}}</string>
                <key>sourceSize</key>
                <string>{352,162}</string>
            </dict>
            <key>dmc5a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,214},{352,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,162}}</string>
                <key>sourceSize</key>
                <string>{352,162}</string>
            </dict>
            <key>dmc5a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1145},{149,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,166}}</string>
                <key>sourceSize</key>
                <string>{149,166}</string>
            </dict>
            <key>dmc5a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{171,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,187}}</string>
                <key>sourceSize</key>
                <string>{171,187}</string>
            </dict>
            <key>dmc5a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1145},{149,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,166}}</string>
                <key>sourceSize</key>
                <string>{149,166}</string>
            </dict>
            <key>dmc5a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1145},{149,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,166}}</string>
                <key>sourceSize</key>
                <string>{149,166}</string>
            </dict>
            <key>dmc5a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{164,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,166}}</string>
                <key>sourceSize</key>
                <string>{164,166}</string>
            </dict>
            <key>dmc5a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{164,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,166}}</string>
                <key>sourceSize</key>
                <string>{164,166}</string>
            </dict>
            <key>dmc5a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,803},{179,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,183}}</string>
                <key>sourceSize</key>
                <string>{179,183}</string>
            </dict>
            <key>dmc5a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1156},{144,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,166}}</string>
                <key>sourceSize</key>
                <string>{144,166}</string>
            </dict>
            <key>dmc5a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,987},{180,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,165}}</string>
                <key>sourceSize</key>
                <string>{180,165}</string>
            </dict>
            <key>dmc5a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{164,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,166}}</string>
                <key>sourceSize</key>
                <string>{164,166}</string>
            </dict>
            <key>dmc5a4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,802},{200,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,175}}</string>
                <key>sourceSize</key>
                <string>{200,175}</string>
            </dict>
            <key>dmc5a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,963},{180,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,181}}</string>
                <key>sourceSize</key>
                <string>{180,181}</string>
            </dict>
            <key>dmc5a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,795},{185,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,166}}</string>
                <key>sourceSize</key>
                <string>{185,166}</string>
            </dict>
            <key>dmcsh5a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1129},{169,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,54}}</string>
                <key>sourceSize</key>
                <string>{169,54}</string>
            </dict>
            <key>dmcsh5a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{168,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,53}}</string>
                <key>sourceSize</key>
                <string>{168,53}</string>
            </dict>
            <key>dmcsh5a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,795},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>dmcsh5a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{168,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,53}}</string>
                <key>sourceSize</key>
                <string>{168,53}</string>
            </dict>
            <key>dmcsh5a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,638},{224,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,55}}</string>
                <key>sourceSize</key>
                <string>{224,55}</string>
            </dict>
            <key>dmcsh5a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,763},{222,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,57}}</string>
                <key>sourceSize</key>
                <string>{222,57}</string>
            </dict>
            <key>dmcsh5a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,695},{223,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,51}}</string>
                <key>sourceSize</key>
                <string>{223,51}</string>
            </dict>
            <key>dmcsh5a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,407},{230,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,58}}</string>
                <key>sourceSize</key>
                <string>{230,58}</string>
            </dict>
            <key>dmcsh5a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,748},{221,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,53}}</string>
                <key>sourceSize</key>
                <string>{221,53}</string>
            </dict>
            <key>dmcsh5a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,179},{247,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,49}}</string>
                <key>sourceSize</key>
                <string>{247,49}</string>
            </dict>
            <key>dmcsh5a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{365,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,46}}</string>
                <key>sourceSize</key>
                <string>{365,46}</string>
            </dict>
            <key>dmcsh5a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{351,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,46}}</string>
                <key>sourceSize</key>
                <string>{351,46}</string>
            </dict>
            <key>dmcsh5a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,590},{343,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,46}}</string>
                <key>sourceSize</key>
                <string>{343,46}</string>
            </dict>
            <key>dmcsh5a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{343,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,46}}</string>
                <key>sourceSize</key>
                <string>{343,46}</string>
            </dict>
            <key>dmcsh5a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,542},{343,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,46}}</string>
                <key>sourceSize</key>
                <string>{343,46}</string>
            </dict>
            <key>dmcsh5a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{343,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,46}}</string>
                <key>sourceSize</key>
                <string>{343,46}</string>
            </dict>
            <key>dmcsh5a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,979},{148,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,56}}</string>
                <key>sourceSize</key>
                <string>{148,56}</string>
            </dict>
            <key>dmcsh5a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,230},{170,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,63}}</string>
                <key>sourceSize</key>
                <string>{170,63}</string>
            </dict>
            <key>dmcsh5a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1145},{145,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,44}</string>
            </dict>
            <key>dmcsh5a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1417},{146,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,44}}</string>
                <key>sourceSize</key>
                <string>{146,44}</string>
            </dict>
            <key>dmcsh5a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1371},{159,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,44}}</string>
                <key>sourceSize</key>
                <string>{159,44}</string>
            </dict>
            <key>dmcsh5a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1371},{159,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,44}}</string>
                <key>sourceSize</key>
                <string>{159,44}</string>
            </dict>
            <key>dmcsh5a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,402},{178,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,62}}</string>
                <key>sourceSize</key>
                <string>{178,62}</string>
            </dict>
            <key>dmcsh5a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1300},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>dmcsh5a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1151},{174,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,46}}</string>
                <key>sourceSize</key>
                <string>{174,46}</string>
            </dict>
            <key>dmcsh5a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,988},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>dmcsh5a4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{194,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,49}}</string>
                <key>sourceSize</key>
                <string>{194,49}</string>
            </dict>
            <key>dmcsh5a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,582},{179,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,61}}</string>
                <key>sourceSize</key>
                <string>{179,61}</string>
            </dict>
            <key>dmcsh5a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,803},{183,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,56}}</string>
                <key>sourceSize</key>
                <string>{183,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d52a6d12d41acf3b39d201321c633d0$</string>
            <key>textureFileName</key>
            <string>dmc5.png</string>
        </dict>
    </dict>
</plist>
