<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmc9a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,372},{91,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,149}}</string>
                <key>sourceSize</key>
                <string>{91,149}</string>
            </dict>
            <key>dmc9a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,212},{91,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,148}}</string>
                <key>sourceSize</key>
                <string>{91,148}</string>
            </dict>
            <key>dmc9a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,372},{91,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,149}}</string>
                <key>sourceSize</key>
                <string>{91,149}</string>
            </dict>
            <key>dmc9a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,212},{91,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,148}}</string>
                <key>sourceSize</key>
                <string>{91,148}</string>
            </dict>
            <key>dmc9a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,833},{125,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,165}}</string>
                <key>sourceSize</key>
                <string>{125,165}</string>
            </dict>
            <key>dmc9a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{102,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,183}}</string>
                <key>sourceSize</key>
                <string>{102,183}</string>
            </dict>
            <key>dmc9a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,88},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,88},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,212},{106,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,161}}</string>
                <key>sourceSize</key>
                <string>{106,161}</string>
            </dict>
            <key>dmc9a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,212},{127,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,158}}</string>
                <key>sourceSize</key>
                <string>{127,158}</string>
            </dict>
            <key>dmc9a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,88},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,84}}</string>
                <key>sourceSize</key>
                <string>{205,84}</string>
            </dict>
            <key>dmc9a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,212},{132,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,123}}</string>
                <key>sourceSize</key>
                <string>{132,123}</string>
            </dict>
            <key>dmc9a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,618},{105,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,138}}</string>
                <key>sourceSize</key>
                <string>{105,138}</string>
            </dict>
            <key>dmc9a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,346},{112,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>dmc9a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,212},{128,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,121}}</string>
                <key>sourceSize</key>
                <string>{128,121}</string>
            </dict>
            <key>dmc9a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,362},{108,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,136}}</string>
                <key>sourceSize</key>
                <string>{108,136}</string>
            </dict>
            <key>dmc9a3f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,617},{114,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,131}}</string>
                <key>sourceSize</key>
                <string>{114,131}</string>
            </dict>
            <key>dmc9a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,375},{130,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,158}}</string>
                <key>sourceSize</key>
                <string>{130,158}</string>
            </dict>
            <key>dmc9a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,833},{104,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,168}}</string>
                <key>sourceSize</key>
                <string>{104,168}</string>
            </dict>
            <key>dmc9a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,477},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>dmc9a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,604},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>dmc9a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,384},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>dmc9a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,384},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>dmc9a4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,384},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>dmc9a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,626},{104,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,173}}</string>
                <key>sourceSize</key>
                <string>{104,173}</string>
            </dict>
            <key>dmc9a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,523},{93,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{93,123}</string>
            </dict>
            <key>dmc9a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,384},{91,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,114}}</string>
                <key>sourceSize</key>
                <string>{91,114}</string>
            </dict>
            <key>dmc9a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,477},{91,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,114}}</string>
                <key>sourceSize</key>
                <string>{91,114}</string>
            </dict>
            <key>dmc9a4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,384},{91,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,114}}</string>
                <key>sourceSize</key>
                <string>{91,114}</string>
            </dict>
            <key>dmc9a4f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,500},{91,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,114}}</string>
                <key>sourceSize</key>
                <string>{91,114}</string>
            </dict>
            <key>dmc9a4f25.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,479},{91,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,123}}</string>
                <key>sourceSize</key>
                <string>{91,123}</string>
            </dict>
            <key>dmc9a4f26.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,829},{91,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,124}}</string>
                <key>sourceSize</key>
                <string>{91,124}</string>
            </dict>
            <key>dmc9a4f27.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,523},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>dmc9a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{104,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,173}}</string>
                <key>sourceSize</key>
                <string>{104,173}</string>
            </dict>
            <key>dmc9a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,106},{104,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,173}}</string>
                <key>sourceSize</key>
                <string>{104,173}</string>
            </dict>
            <key>dmc9a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,622},{111,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,158}}</string>
                <key>sourceSize</key>
                <string>{111,158}</string>
            </dict>
            <key>dmc9a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,602},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>dmc9a4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,284},{98,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>dmc9a4f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,616},{103,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,123}}</string>
                <key>sourceSize</key>
                <string>{103,123}</string>
            </dict>
            <key>dmc9a4f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,828},{109,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,123}}</string>
                <key>sourceSize</key>
                <string>{109,123}</string>
            </dict>
            <key>dmcsh9a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,953},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,828},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>dmcsh9a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,953},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,828},{90,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,35}}</string>
                <key>sourceSize</key>
                <string>{90,35}</string>
            </dict>
            <key>dmcsh9a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,174},{125,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,38}}</string>
                <key>sourceSize</key>
                <string>{125,38}</string>
            </dict>
            <key>dmcsh9a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,782},{102,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,43}}</string>
                <key>sourceSize</key>
                <string>{102,43}</string>
            </dict>
            <key>dmcsh9a2f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,419},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,212},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,789},{106,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{106,37}</string>
            </dict>
            <key>dmcsh9a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,209},{126,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,37}}</string>
                <key>sourceSize</key>
                <string>{126,37}</string>
            </dict>
            <key>dmcsh9a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,626},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,419},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,212},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a2f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>dmcsh9a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,174},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>dmcsh9a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,758},{104,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,39}}</string>
                <key>sourceSize</key>
                <string>{104,39}</string>
            </dict>
            <key>dmcsh9a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,789},{111,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,37}}</string>
                <key>sourceSize</key>
                <string>{111,37}</string>
            </dict>
            <key>dmcsh9a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,248},{126,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,34}}</string>
                <key>sourceSize</key>
                <string>{126,34}</string>
            </dict>
            <key>dmcsh9a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,955},{108,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,38}}</string>
                <key>sourceSize</key>
                <string>{108,38}</string>
            </dict>
            <key>dmcsh9a3f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,750},{112,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,37}}</string>
                <key>sourceSize</key>
                <string>{112,37}</string>
            </dict>
            <key>dmcsh9a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,174},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>dmcsh9a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,174},{102,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,35}}</string>
                <key>sourceSize</key>
                <string>{102,35}</string>
            </dict>
            <key>dmcsh9a4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,953},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,212},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,953},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,953},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,953},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,174},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>dmcsh9a4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,801},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>dmcsh9a4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,799},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,28}</string>
            </dict>
            <key>dmcsh9a4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,535},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,28}</string>
            </dict>
            <key>dmcsh9a4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,535},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,28}</string>
            </dict>
            <key>dmcsh9a4f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,535},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,28}</string>
            </dict>
            <key>dmcsh9a4f25.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,535},{85,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,30}}</string>
                <key>sourceSize</key>
                <string>{85,30}</string>
            </dict>
            <key>dmcsh9a4f26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,801},{85,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,30}}</string>
                <key>sourceSize</key>
                <string>{85,30}</string>
            </dict>
            <key>dmcsh9a4f27.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,535},{85,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,31}}</string>
                <key>sourceSize</key>
                <string>{85,31}</string>
            </dict>
            <key>dmcsh9a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{102,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,36}}</string>
                <key>sourceSize</key>
                <string>{102,36}</string>
            </dict>
            <key>dmcsh9a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,342},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>dmcsh9a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,212},{110,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,33}}</string>
                <key>sourceSize</key>
                <string>{110,33}</string>
            </dict>
            <key>dmcsh9a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,741},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>dmcsh9a4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,729},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>dmcsh9a4f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,174},{103,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,35}}</string>
                <key>sourceSize</key>
                <string>{103,35}</string>
            </dict>
            <key>dmcsh9a4f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,174},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dmc9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1295ac84cbc38b1bf1c72e0f78be537$</string>
            <key>textureFileName</key>
            <string>dmc9.png</string>
        </dict>
    </dict>
</plist>
