<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WaveID10wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1745},{208,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,201}}</string>
                <key>sourceSize</key>
                <string>{208,201}</string>
            </dict>
            <key>WaveID10wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1745},{226,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,89}}</string>
                <key>sourceSize</key>
                <string>{226,89}</string>
            </dict>
            <key>WaveID10wf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1996},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>WaveID10wf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1610},{45,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>WaveID11wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,220},{48,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,6}}</string>
                <key>sourceSize</key>
                <string>{48,6}</string>
            </dict>
            <key>WaveID12wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,404},{382,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,39}}</string>
                <key>sourceSize</key>
                <string>{382,39}</string>
            </dict>
            <key>WaveID12wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2012},{144,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,33}}</string>
                <key>sourceSize</key>
                <string>{144,33}</string>
            </dict>
            <key>WaveID13wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1955},{191,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,80}}</string>
                <key>sourceSize</key>
                <string>{191,80}</string>
            </dict>
            <key>WaveID13wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1610},{108,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,36}}</string>
                <key>sourceSize</key>
                <string>{108,36}</string>
            </dict>
            <key>WaveID13wf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,137},{81,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,13}}</string>
                <key>sourceSize</key>
                <string>{81,13}</string>
            </dict>
            <key>WaveID14wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,552},{351,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,196}}</string>
                <key>sourceSize</key>
                <string>{351,196}</string>
            </dict>
            <key>WaveID15wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1307},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,905},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf13.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1610},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1208},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,806},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf16.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,404},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1343},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID15wf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WaveID16wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1610},{41,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>WaveID16wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2012},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>WaveID16wf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1665},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>WaveID16wf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2012},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>WaveID16wf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1665},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>WaveID16wf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1610},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>WaveID16wf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1996},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>WaveID16wf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2012},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{46,31}</string>
            </dict>
            <key>WaveID17wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1715},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>WaveID17wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1713},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>WaveID17wf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1653},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>WaveID17wf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,2012},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>WaveID17wf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1720},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>WaveID17wf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,2012},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>WaveID17wf6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1720},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>WaveID17wf7.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2012},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>WaveID17wf8.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1679},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>WaveID17wf9.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2012},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>WaveID18wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1307},{178,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,162}}</string>
                <key>sourceSize</key>
                <string>{178,162}</string>
            </dict>
            <key>WaveID19wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1745},{299,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,139}}</string>
                <key>sourceSize</key>
                <string>{299,139}</string>
            </dict>
            <key>WaveID6wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1745},{249,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,120}}</string>
                <key>sourceSize</key>
                <string>{249,120}</string>
            </dict>
            <key>WaveID6wf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1973},{200,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,66}}</string>
                <key>sourceSize</key>
                <string>{200,66}</string>
            </dict>
            <key>WaveID7wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,133}}</string>
                <key>sourceSize</key>
                <string>{416,133}</string>
            </dict>
            <key>WaveID8wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,404},{202,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,146}}</string>
                <key>sourceSize</key>
                <string>{202,146}</string>
            </dict>
            <key>WaveID9wf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,220},{70,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,4}}</string>
                <key>sourceSize</key>
                <string>{70,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DuelWaves.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1ab68a1fa3aab0e5d3d9780b86f5bb6$</string>
            <key>textureFileName</key>
            <string>DuelWaves.png</string>
        </dict>
    </dict>
</plist>
