<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leftBarBK.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,195},{294,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,118}}</string>
                <key>sourceSize</key>
                <string>{294,118}</string>
            </dict>
            <key>leftHP.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{191,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,15}}</string>
                <key>sourceSize</key>
                <string>{191,15}</string>
            </dict>
            <key>leftMP.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{139,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,11}}</string>
                <key>sourceSize</key>
                <string>{139,11}</string>
            </dict>
            <key>rightBarBK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{294,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,118}}</string>
                <key>sourceSize</key>
                <string>{294,118}</string>
            </dict>
            <key>rightHP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,15}}</string>
                <key>sourceSize</key>
                <string>{191,15}</string>
            </dict>
            <key>rightMP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{139,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,11}}</string>
                <key>sourceSize</key>
                <string>{139,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DuelLayerUI.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103173c09e90550bece019dec0891dd9$</string>
            <key>textureFileName</key>
            <string>DuelLayerUI.png</string>
        </dict>
    </dict>
</plist>
