<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vanish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,187},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>vanish10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,450},{205,171}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{205,171}}</string>
                <key>sourceSize</key>
                <string>{233,177}</string>
            </dict>
            <key>vanish11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,263},{212,185}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{212,185}}</string>
                <key>sourceSize</key>
                <string>{222,193}</string>
            </dict>
            <key>vanish12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{226,190}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{226,190}}</string>
                <key>sourceSize</key>
                <string>{236,210}</string>
            </dict>
            <key>vanish13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{240,195}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{240,195}}</string>
                <key>sourceSize</key>
                <string>{250,217}</string>
            </dict>
            <key>vanish14.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,75},{258,200}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{258,200}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>vanish15.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{270,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,71}}</string>
                <key>sourceSize</key>
                <string>{270,71}</string>
            </dict>
            <key>vanish16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,187},{292,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,74}}</string>
                <key>sourceSize</key>
                <string>{292,74}</string>
            </dict>
            <key>vanish17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{314,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,69}}</string>
                <key>sourceSize</key>
                <string>{314,69}</string>
            </dict>
            <key>vanish18.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,123},{336,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,62}}</string>
                <key>sourceSize</key>
                <string>{336,62}</string>
            </dict>
            <key>vanish19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{356,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,74}}</string>
                <key>sourceSize</key>
                <string>{356,74}</string>
            </dict>
            <key>vanish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,554},{99,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{99,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>vanish20.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,54},{361,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,67}}</string>
                <key>sourceSize</key>
                <string>{361,67}</string>
            </dict>
            <key>vanish21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,58}}</string>
                <key>sourceSize</key>
                <string>{372,58}</string>
            </dict>
            <key>vanish22.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{369,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,50}}</string>
                <key>sourceSize</key>
                <string>{369,50}</string>
            </dict>
            <key>vanish23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{291,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,41}}</string>
                <key>sourceSize</key>
                <string>{291,41}</string>
            </dict>
            <key>vanish24.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,123},{293,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,33}}</string>
                <key>sourceSize</key>
                <string>{293,33}</string>
            </dict>
            <key>vanish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,431},{102,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{102,121}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>vanish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,655},{145,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{145,141}}</string>
                <key>sourceSize</key>
                <string>{147,145}</string>
            </dict>
            <key>vanish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,592},{188,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{188,152}}</string>
                <key>sourceSize</key>
                <string>{194,158}</string>
            </dict>
            <key>vanish6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,263},{232,162}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{232,162}}</string>
                <key>sourceSize</key>
                <string>{242,170}</string>
            </dict>
            <key>vanish7.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,277},{253,152}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{253,152}}</string>
                <key>sourceSize</key>
                <string>{265,172}</string>
            </dict>
            <key>vanish8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,427},{228,165}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{228,165}}</string>
                <key>sourceSize</key>
                <string>{280,167}</string>
            </dict>
            <key>vanish9.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,431},{211,159}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{211,159}}</string>
                <key>sourceSize</key>
                <string>{253,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapCharacterVanish.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8dba78749f844ad687ef61ae583f172$</string>
            <key>textureFileName</key>
            <string>MapCharacterVanish.png</string>
        </dict>
    </dict>
</plist>
