<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc11a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,176},{91,143}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,143}}</string>
                <key>sourceSize</key>
                <string>{99,193}</string>
            </dict>
            <key>bmc11a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,89},{85,145}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,145}}</string>
                <key>sourceSize</key>
                <string>{87,195}</string>
            </dict>
            <key>bmc11a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,95},{81,145}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,145}}</string>
                <key>sourceSize</key>
                <string>{81,195}</string>
            </dict>
            <key>bmc11a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{85,145}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{85,145}}</string>
                <key>sourceSize</key>
                <string>{87,197}</string>
            </dict>
            <key>bmc11a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{91,145}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,145}}</string>
                <key>sourceSize</key>
                <string>{99,195}</string>
            </dict>
            <key>bmc11a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,145}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,145}}</string>
                <key>sourceSize</key>
                <string>{103,195}</string>
            </dict>
            <key>bmc11a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>bmc11a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,556},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>bmc11a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,518},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>bmc11a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,481},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>bmc11a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>bmc11a1f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,249},{36,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,92}}</string>
                <key>sourceSize</key>
                <string>{36,92}</string>
            </dict>
            <key>bmc11a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,481},{42,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,91}}</string>
                <key>sourceSize</key>
                <string>{42,91}</string>
            </dict>
            <key>bmc11a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,397},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>bmc11a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,474},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>bmc11a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,416},{43,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,91}}</string>
                <key>sourceSize</key>
                <string>{43,91}</string>
            </dict>
            <key>bmc11a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,430},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>bmc11a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,386},{42,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,94}}</string>
                <key>sourceSize</key>
                <string>{42,94}</string>
            </dict>
            <key>bmc11a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,178},{128,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,69}}</string>
                <key>sourceSize</key>
                <string>{128,69}</string>
            </dict>
            <key>bmc11a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,249},{126,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>bmc11a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,322},{120,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,73}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>bmc11a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,408},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>bmc11a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,269},{119,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,64}}</string>
                <key>sourceSize</key>
                <string>{119,64}</string>
            </dict>
            <key>bmc11a3f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,129},{125,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,66}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>bmc11a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,256},{128,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,69}}</string>
                <key>sourceSize</key>
                <string>{128,69}</string>
            </dict>
            <key>bmc11a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{126,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,71}}</string>
                <key>sourceSize</key>
                <string>{126,71}</string>
            </dict>
            <key>bmc11a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{120,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,73}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>bmc11a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,335},{117,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,71}}</string>
                <key>sourceSize</key>
                <string>{117,71}</string>
            </dict>
            <key>bmc11a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{119,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,64}}</string>
                <key>sourceSize</key>
                <string>{119,64}</string>
            </dict>
            <key>bmc11a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{125,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,66}}</string>
                <key>sourceSize</key>
                <string>{125,66}</string>
            </dict>
            <key>bmc11a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{90,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,143}}</string>
                <key>sourceSize</key>
                <string>{90,143}</string>
            </dict>
            <key>bmc11shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,343},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc11shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,380},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc11.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38e5beeb6c64880b2e88756cef76a186$</string>
            <key>textureFileName</key>
            <string>bmc11.png</string>
        </dict>
    </dict>
</plist>
