<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc13a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,47},{43,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>bmc13a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{43,72}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>bmc13a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,92},{43,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,71}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>bmc13a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{43,72}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>bmc13a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,47},{43,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>bmc13a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{43,63}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>bmc13a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{43,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>bmc13a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,209},{43,64}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>bmc13a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{43,73}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>bmc13a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{43,65}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{43,65}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>bmc13a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{43,73}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>bmc13a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,164},{43,67}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{43,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>bmc13a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{32,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,71}}</string>
                <key>sourceSize</key>
                <string>{32,71}</string>
            </dict>
            <key>bmc13a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,128},{34,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,71}}</string>
                <key>sourceSize</key>
                <string>{34,71}</string>
            </dict>
            <key>bmc13a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,172},{35,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>bmc13a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{33,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,68}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>bmc13a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,92},{32,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,71}}</string>
                <key>sourceSize</key>
                <string>{32,71}</string>
            </dict>
            <key>bmc13a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,92},{34,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,71}}</string>
                <key>sourceSize</key>
                <string>{34,71}</string>
            </dict>
            <key>bmc13a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,165},{35,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>bmc13a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,137},{33,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,68}}</string>
                <key>sourceSize</key>
                <string>{33,68}</string>
            </dict>
            <key>bmc13a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{43,73}</string>
            </dict>
            <key>bmc13shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,209},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc13shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,233},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc13.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcb7f13bbe6f5adbac0e6c5a0a133642$</string>
            <key>textureFileName</key>
            <string>bmc13.png</string>
        </dict>
    </dict>
</plist>
