<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc1a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{55,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>bmc1a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,59},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,59},{55,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>bmc1a0f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{55,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>bmc1a0f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,59},{55,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>bmc1a0f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{55,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>bmc1a0f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,59},{55,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>bmc1a0f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,59},{55,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>bmc1a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{55,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>bmc1a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,59},{55,78}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>bmc1a0f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a0f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{55,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>bmc1a0f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{55,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>bmc1a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,285},{64,54}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>bmc1a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,152},{62,49}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>bmc1a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,219},{62,54}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{100,54}</string>
            </dict>
            <key>bmc1a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,88},{62,49}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{100,49}</string>
            </dict>
            <key>bmc1a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,219},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>bmc1a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,351},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>bmc1a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,152},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>bmc1a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,285},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>bmc1a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,345},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>bmc1a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,152},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>bmc1a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,415},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>bmc1a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,215},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>bmc1a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,411},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>bmc1a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,283},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>bmc1a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,152},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>bmc1a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,349},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>bmc1a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,80}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>bmc1shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,38},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc1shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102d848d5138897b3e117978fb0adb50$</string>
            <key>textureFileName</key>
            <string>bmc1.png</string>
        </dict>
    </dict>
</plist>
