<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc2a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,113},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,113},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,150},{35,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,74}}</string>
                <key>sourceSize</key>
                <string>{35,74}</string>
            </dict>
            <key>bmc2a0f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,150},{35,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,75}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>bmc2a0f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,76},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,76},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,113},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,39},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,39},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,113},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2a0f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{35,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,75}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>bmc2a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,315},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>bmc2a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>bmc2a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,337},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>bmc2a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,318},{35,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,57}}</string>
                <key>sourceSize</key>
                <string>{35,57}</string>
            </dict>
            <key>bmc2a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,228},{26,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,67}}</string>
                <key>sourceSize</key>
                <string>{26,67}</string>
            </dict>
            <key>bmc2a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,302},{33,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>bmc2a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,187},{39,67}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>bmc2a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,279},{37,59}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>bmc2a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,187},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>bmc2a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,233},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>bmc2a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>bmc2a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,251},{45,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>bmc2a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,67}}</string>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>bmc2a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>bmc2a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,256},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>bmc2a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,187},{45,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{45,62}</string>
            </dict>
            <key>bmc2a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,76}}</string>
                <key>sourceSize</key>
                <string>{35,76}</string>
            </dict>
            <key>bmc2shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,355},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc2shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dee0c2da4931c5eb49d94fa8a1ed9fc$</string>
            <key>textureFileName</key>
            <string>bmc2.png</string>
        </dict>
    </dict>
</plist>
