<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc7a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,429},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>bmc7a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,429},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>bmc7a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,429},{51,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>bmc7a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,429},{49,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>bmc7a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{36,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,102}}</string>
                <key>sourceSize</key>
                <string>{36,102}</string>
            </dict>
            <key>bmc7a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,123},{38,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,96}}</string>
                <key>sourceSize</key>
                <string>{38,96}</string>
            </dict>
            <key>bmc7a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{41,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,92}}</string>
                <key>sourceSize</key>
                <string>{41,92}</string>
            </dict>
            <key>bmc7a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,117}}</string>
                <key>sourceSize</key>
                <string>{42,117}</string>
            </dict>
            <key>bmc7a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,87},{34,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,106}}</string>
                <key>sourceSize</key>
                <string>{34,106}</string>
            </dict>
            <key>bmc7a1f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{34,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,117}}</string>
                <key>sourceSize</key>
                <string>{34,117}</string>
            </dict>
            <key>bmc7a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{32,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{32,83}</string>
            </dict>
            <key>bmc7a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,263},{32,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,85}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
            <key>bmc7a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,356},{32,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{32,83}</string>
            </dict>
            <key>bmc7a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{32,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,83}}</string>
                <key>sourceSize</key>
                <string>{32,83}</string>
            </dict>
            <key>bmc7a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{32,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,85}}</string>
                <key>sourceSize</key>
                <string>{32,85}</string>
            </dict>
            <key>bmc7a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{33,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,85}}</string>
                <key>sourceSize</key>
                <string>{33,85}</string>
            </dict>
            <key>bmc7a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,297},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
            <key>bmc7a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,163},{85,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,50}}</string>
                <key>sourceSize</key>
                <string>{85,50}</string>
            </dict>
            <key>bmc7a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>bmc7a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,275},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>bmc7a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,215},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>bmc7a3f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>bmc7a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{84,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,57}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
            <key>bmc7a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,135},{85,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,50}}</string>
                <key>sourceSize</key>
                <string>{85,50}</string>
            </dict>
            <key>bmc7a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,377},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>bmc7a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,222},{73,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,51}</string>
            </dict>
            <key>bmc7a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>bmc7a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,38},{108,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,47}}</string>
                <key>sourceSize</key>
                <string>{108,47}</string>
            </dict>
            <key>bmc7a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,328},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>bmc7shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,390},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc7shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,87},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc7.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05434bf4f0aa9db757e4c7e94b167b85$</string>
            <key>textureFileName</key>
            <string>bmc7.png</string>
        </dict>
    </dict>
</plist>
