<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapskill4BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>mapskill4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1584},{183,122}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{183,122}}</string>
                <key>sourceSize</key>
                <string>{205,128}</string>
            </dict>
            <key>mapskill4f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1011},{189,363}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{189,363}}</string>
                <key>sourceSize</key>
                <string>{217,387}</string>
            </dict>
            <key>mapskill4f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,819},{190,369}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{190,369}}</string>
                <key>sourceSize</key>
                <string>{220,391}</string>
            </dict>
            <key>mapskill4f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{191,371}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{191,371}}</string>
                <key>sourceSize</key>
                <string>{225,393}</string>
            </dict>
            <key>mapskill4f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{191,371}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{191,371}}</string>
                <key>sourceSize</key>
                <string>{223,393}</string>
            </dict>
            <key>mapskill4f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,625},{192,373}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{192,373}}</string>
                <key>sourceSize</key>
                <string>{224,397}</string>
            </dict>
            <key>mapskill4f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{192,376}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,16},{192,376}}</string>
                <key>sourceSize</key>
                <string>{226,400}</string>
            </dict>
            <key>mapskill4f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,434},{189,375}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,40},{189,375}}</string>
                <key>sourceSize</key>
                <string>{225,423}</string>
            </dict>
            <key>mapskill4f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,153},{143,391}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,26},{143,391}}</string>
                <key>sourceSize</key>
                <string>{195,425}</string>
            </dict>
            <key>mapskill4f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,291},{141,399}}</string>
                <key>offset</key>
                <string>{21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,41},{141,399}}</string>
                <key>sourceSize</key>
                <string>{189,449}</string>
            </dict>
            <key>mapskill4f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{143,415}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,27},{143,415}}</string>
                <key>sourceSize</key>
                <string>{189,451}</string>
            </dict>
            <key>mapskill4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{189,331}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{189,331}}</string>
                <key>sourceSize</key>
                <string>{209,359}</string>
            </dict>
            <key>mapskill4f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,147},{142,426}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,16},{142,426}}</string>
                <key>sourceSize</key>
                <string>{192,452}</string>
            </dict>
            <key>mapskill4f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{140,428}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,14},{140,428}}</string>
                <key>sourceSize</key>
                <string>{188,452}</string>
            </dict>
            <key>mapskill4f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,432}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{141,432}}</string>
                <key>sourceSize</key>
                <string>{201,452}</string>
            </dict>
            <key>mapskill4f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{143,430}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,11},{143,430}}</string>
                <key>sourceSize</key>
                <string>{205,452}</string>
            </dict>
            <key>mapskill4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1405},{196,337}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,337}}</string>
                <key>sourceSize</key>
                <string>{214,363}</string>
            </dict>
            <key>mapskill4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1202},{201,339}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{201,339}}</string>
                <key>sourceSize</key>
                <string>{219,363}</string>
            </dict>
            <key>mapskill4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1249},{206,333}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,333}}</string>
                <key>sourceSize</key>
                <string>{224,369}</string>
            </dict>
            <key>mapskill4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,546},{208,343}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{208,343}}</string>
                <key>sourceSize</key>
                <string>{214,373}</string>
            </dict>
            <key>mapskill4f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{204,352}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{204,352}}</string>
                <key>sourceSize</key>
                <string>{218,384}</string>
            </dict>
            <key>mapskill4f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,891},{207,356}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{207,356}}</string>
                <key>sourceSize</key>
                <string>{211,386}</string>
            </dict>
            <key>mapskill4f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{188,359}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{188,359}}</string>
                <key>sourceSize</key>
                <string>{214,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapSkill4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:254c9d75b710d523b549ea18c252e8b5$</string>
            <key>textureFileName</key>
            <string>MapSkill4.png</string>
        </dict>
    </dict>
</plist>
