<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc3a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,76},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{24,72}</string>
            </dict>
            <key>bmc3a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bmc3a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>bmc3a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{27,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,72}}</string>
                <key>sourceSize</key>
                <string>{27,72}</string>
            </dict>
            <key>bmc3a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{27,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,71}}</string>
                <key>sourceSize</key>
                <string>{27,71}</string>
            </dict>
            <key>bmc3a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,150},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,71}}</string>
                <key>sourceSize</key>
                <string>{25,71}</string>
            </dict>
            <key>bmc3a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,132},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,63}}</string>
                <key>sourceSize</key>
                <string>{31,63}</string>
            </dict>
            <key>bmc3a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,179},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>bmc3a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,132},{30,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,63}}</string>
                <key>sourceSize</key>
                <string>{30,63}</string>
            </dict>
            <key>bmc3a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,146},{31,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,58}}</string>
                <key>sourceSize</key>
                <string>{31,58}</string>
            </dict>
            <key>bmc3a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,38},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>bmc3a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,194},{34,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,59}}</string>
                <key>sourceSize</key>
                <string>{34,59}</string>
            </dict>
            <key>bmc3a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>bmc3a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,196},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{34,58}</string>
            </dict>
            <key>bmc3a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,110},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>bmc3a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,67},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>bmc3a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,63},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>bmc3a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,197},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>bmc3a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,74},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>bmc3a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{35,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,63}}</string>
                <key>sourceSize</key>
                <string>{35,63}</string>
            </dict>
            <key>bmc3a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>bmc3a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,197},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>bmc3a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{24,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{24,72}</string>
            </dict>
            <key>bmc3shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,146},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc3shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,146},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71485baa2616535419c95b3020c61273$</string>
            <key>textureFileName</key>
            <string>bmc3.png</string>
        </dict>
    </dict>
</plist>
