<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc4a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{47,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>bmc4a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>bmc4a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{45,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,71}}</string>
                <key>sourceSize</key>
                <string>{45,71}</string>
            </dict>
            <key>bmc4a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>bmc4a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,99},{25,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,66}}</string>
                <key>sourceSize</key>
                <string>{25,66}</string>
            </dict>
            <key>bmc4a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,131},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>bmc4a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,145},{31,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,66}}</string>
                <key>sourceSize</key>
                <string>{31,66}</string>
            </dict>
            <key>bmc4a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,67},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>bmc4a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,67},{30,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{30,67}</string>
            </dict>
            <key>bmc4a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,215},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>bmc4a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,76},{31,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,67}}</string>
                <key>sourceSize</key>
                <string>{31,67}</string>
            </dict>
            <key>bmc4a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>bmc4a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,99},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>bmc4a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,141},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>bmc4a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>bmc4a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,200},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>bmc4a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,99},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>bmc4a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,75},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>bmc4a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>bmc4a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,167},{31,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{31,61}</string>
            </dict>
            <key>bmc4a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>bmc4shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,213},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc4shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,167},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a5e728787e3264e770b3178ccb17f3f$</string>
            <key>textureFileName</key>
            <string>bmc4.png</string>
        </dict>
    </dict>
</plist>
