<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc5a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,221},{69,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>bmc5a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,218},{69,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>bmc5a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{69,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>bmc5a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,147},{69,84}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>bmc5a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,147},{69,84}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>bmc5a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,150},{69,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>bmc5a0f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{69,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>bmc5a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,292},{60,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>bmc5a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,423},{60,69}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>bmc5a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,423},{60,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>bmc5a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,350},{60,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>bmc5a1f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,289},{60,73}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>bmc5a1f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,361},{60,69}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>bmc5a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,293},{55,76}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{55,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>bmc5a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,257},{53,81}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{53,81}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>bmc5a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{51,73}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>bmc5a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{53,76}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>bmc5a2f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,100},{55,81}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{65,81}</string>
            </dict>
            <key>bmc5a2f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,351},{55,73}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>bmc5a2f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{55,72}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{55,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>bmc5a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,76},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>bmc5a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>bmc5a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,72}</string>
            </dict>
            <key>bmc5a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,73},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>bmc5a3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>bmc5a3f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,289},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>bmc5a3f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>bmc5a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,76},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>bmc5a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>bmc5a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,72}}</string>
                <key>sourceSize</key>
                <string>{94,72}</string>
            </dict>
            <key>bmc5a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{87,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,72}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>bmc5a4f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,73},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>bmc5a4f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,221},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>bmc5a4f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,183},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>bmc5a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,150},{69,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>bmc5shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc5shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,52},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582a1e800f898bdfbca8a846f499f7f9$</string>
            <key>textureFileName</key>
            <string>bmc5.png</string>
        </dict>
    </dict>
</plist>
