<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmc8a0f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,335},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>bmc8a0f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,435},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>bmc8a0f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,386},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>bmc8a0f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,385},{48,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,82}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>bmc8a0f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,334},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>bmc8a0f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,283},{50,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>sourceSize</key>
                <string>{50,82}</string>
            </dict>
            <key>bmc8a1f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,283},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,71}}</string>
                <key>sourceSize</key>
                <string>{25,71}</string>
            </dict>
            <key>bmc8a1f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,436},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,71}}</string>
                <key>sourceSize</key>
                <string>{25,71}</string>
            </dict>
            <key>bmc8a1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,485},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,71}}</string>
                <key>sourceSize</key>
                <string>{25,71}</string>
            </dict>
            <key>bmc8a1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,485},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,71}}</string>
                <key>sourceSize</key>
                <string>{25,71}</string>
            </dict>
            <key>bmc8a2f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{24,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,90}}</string>
                <key>sourceSize</key>
                <string>{24,90}</string>
            </dict>
            <key>bmc8a2f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,283},{24,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,89}}</string>
                <key>sourceSize</key>
                <string>{24,89}</string>
            </dict>
            <key>bmc8a2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,374},{24,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,88}}</string>
                <key>sourceSize</key>
                <string>{24,88}</string>
            </dict>
            <key>bmc8a2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{24,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,89}}</string>
                <key>sourceSize</key>
                <string>{24,89}</string>
            </dict>
            <key>bmc8a3f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,212},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>bmc8a3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,142},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>bmc8a3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,68}}</string>
                <key>sourceSize</key>
                <string>{121,68}</string>
            </dict>
            <key>bmc8a3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>bmc8a4f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,72},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>bmc8a4f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,69}}</string>
                <key>sourceSize</key>
                <string>{119,69}</string>
            </dict>
            <key>bmc8a4f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{120,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,68}}</string>
                <key>sourceSize</key>
                <string>{120,68}</string>
            </dict>
            <key>bmc8a4f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,68}}</string>
                <key>sourceSize</key>
                <string>{121,68}</string>
            </dict>
            <key>bmc8a5f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,283},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>bmc8shadowFrame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>bmc8shadowFrame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,464},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmc8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf3cc2a4f26931345c83968ae2b4f27$</string>
            <key>textureFileName</key>
            <string>bmc8.png</string>
        </dict>
    </dict>
</plist>
