<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapskill3f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1662},{102,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,163}}</string>
                <key>sourceSize</key>
                <string>{102,163}</string>
            </dict>
            <key>mapskill3f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{192,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,356}}</string>
                <key>sourceSize</key>
                <string>{192,356}</string>
            </dict>
            <key>mapskill3f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,369}}</string>
                <key>sourceSize</key>
                <string>{204,369}</string>
            </dict>
            <key>mapskill3f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{203,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,355}}</string>
                <key>sourceSize</key>
                <string>{203,355}</string>
            </dict>
            <key>mapskill3f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{188,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,351}}</string>
                <key>sourceSize</key>
                <string>{188,351}</string>
            </dict>
            <key>mapskill3f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1414},{187,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,337}}</string>
                <key>sourceSize</key>
                <string>{187,337}</string>
            </dict>
            <key>mapskill3f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,697},{220,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,328}}</string>
                <key>sourceSize</key>
                <string>{220,328}</string>
            </dict>
            <key>mapskill3f16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1074},{212,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,341}}</string>
                <key>sourceSize</key>
                <string>{212,341}</string>
            </dict>
            <key>mapskill3f17.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1074},{199,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,338}}</string>
                <key>sourceSize</key>
                <string>{199,338}</string>
            </dict>
            <key>mapskill3f18.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,373},{226,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,351}}</string>
                <key>sourceSize</key>
                <string>{226,351}</string>
            </dict>
            <key>mapskill3f19.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1417},{252,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,338}}</string>
                <key>sourceSize</key>
                <string>{252,338}</string>
            </dict>
            <key>mapskill3f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1301},{106,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,189}}</string>
                <key>sourceSize</key>
                <string>{106,189}</string>
            </dict>
            <key>mapskill3f20.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{258,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,348}}</string>
                <key>sourceSize</key>
                <string>{258,348}</string>
            </dict>
            <key>mapskill3f21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1437},{252,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,341}}</string>
                <key>sourceSize</key>
                <string>{252,341}</string>
            </dict>
            <key>mapskill3f22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{266,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,336}}</string>
                <key>sourceSize</key>
                <string>{266,336}</string>
            </dict>
            <key>mapskill3f23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{240,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,347}}</string>
                <key>sourceSize</key>
                <string>{240,347}</string>
            </dict>
            <key>mapskill3f24.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{242,342}</string>
            </dict>
            <key>mapskill3f25.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,726},{265,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,346}}</string>
                <key>sourceSize</key>
                <string>{265,346}</string>
            </dict>
            <key>mapskill3f26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{248,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,314}}</string>
                <key>sourceSize</key>
                <string>{248,314}</string>
            </dict>
            <key>mapskill3f27.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1030},{261,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,330}}</string>
                <key>sourceSize</key>
                <string>{261,330}</string>
            </dict>
            <key>mapskill3f28.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,352},{252,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,343}}</string>
                <key>sourceSize</key>
                <string>{252,343}</string>
            </dict>
            <key>mapskill3f29.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,346},{262,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,325}}</string>
                <key>sourceSize</key>
                <string>{262,325}</string>
            </dict>
            <key>mapskill3f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1922},{116,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,199}}</string>
                <key>sourceSize</key>
                <string>{116,199}</string>
            </dict>
            <key>mapskill3f30.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1757},{272,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,334}}</string>
                <key>sourceSize</key>
                <string>{272,334}</string>
            </dict>
            <key>mapskill3f31.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{264,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,321}}</string>
                <key>sourceSize</key>
                <string>{264,321}</string>
            </dict>
            <key>mapskill3f32.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,991},{240,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,308}}</string>
                <key>sourceSize</key>
                <string>{240,308}</string>
            </dict>
            <key>mapskill3f33.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1362},{246,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,309}}</string>
                <key>sourceSize</key>
                <string>{246,309}</string>
            </dict>
            <key>mapskill3f34.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,325},{227,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,315}}</string>
                <key>sourceSize</key>
                <string>{227,315}</string>
            </dict>
            <key>mapskill3f35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1672},{237,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,229}}</string>
                <key>sourceSize</key>
                <string>{237,229}</string>
            </dict>
            <key>mapskill3f36.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1301},{197,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,242}}</string>
                <key>sourceSize</key>
                <string>{197,242}</string>
            </dict>
            <key>mapskill3f37.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1673},{203,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,247}}</string>
                <key>sourceSize</key>
                <string>{203,247}</string>
            </dict>
            <key>mapskill3f38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1545},{115,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,216}}</string>
                <key>sourceSize</key>
                <string>{115,216}</string>
            </dict>
            <key>mapskill3f39.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1922},{119,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,192}}</string>
                <key>sourceSize</key>
                <string>{119,192}</string>
            </dict>
            <key>mapskill3f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1911},{111,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,212}}</string>
                <key>sourceSize</key>
                <string>{111,212}</string>
            </dict>
            <key>mapskill3f40.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1545},{125,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,163}}</string>
                <key>sourceSize</key>
                <string>{125,163}</string>
            </dict>
            <key>mapskill3f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,318},{112,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,251}}</string>
                <key>sourceSize</key>
                <string>{112,251}</string>
            </dict>
            <key>mapskill3f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1753},{142,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,265}}</string>
                <key>sourceSize</key>
                <string>{142,265}</string>
            </dict>
            <key>mapskill3f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,642},{159,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,302}}</string>
                <key>sourceSize</key>
                <string>{159,302}</string>
            </dict>
            <key>mapskill3f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,673},{193,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,316}}</string>
                <key>sourceSize</key>
                <string>{193,316}</string>
            </dict>
            <key>mapskill3f9.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,697},{192,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,331}}</string>
                <key>sourceSize</key>
                <string>{192,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MapSkill3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b2b3cb7181360d74a7ccfeea6358f56$</string>
            <key>textureFileName</key>
            <string>MapSkill3.png</string>
        </dict>
    </dict>
</plist>
