<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TitleContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,26}}</string>
                <key>sourceSize</key>
                <string>{121,26}</string>
            </dict>
            <key>TitleLoadGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{142,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,26}}</string>
                <key>sourceSize</key>
                <string>{142,26}</string>
            </dict>
            <key>TitleNewGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,30},{130,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,25}}</string>
                <key>sourceSize</key>
                <string>{130,25}</string>
            </dict>
            <key>TitleQuitGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{135,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,27}}</string>
                <key>sourceSize</key>
                <string>{135,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TitleMenu.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c416453f350642e3e2c8931d70d974$</string>
            <key>textureFileName</key>
            <string>TitleMenu.png</string>
        </dict>
    </dict>
</plist>
